extends ../../layouts/layout

block styles
	link(rel="stylesheet",href="/js/vendor/pixelmatrix-uniform/themes/default/css/uniform.default.min.css",media="screen")

block sidebar
	include ../layouts/sidebar

block content
	.content-header
		.content-header-title
			h2 Tabs
			span.description A single example shown as it might be displayed across multiple pages.

	.row-fluid
		.span12
			form.form-horizontal(action='#')
				legend Input fields
				.row-fluid
					.span4.form-control-label
						label(for='text') Input type text
					.span8.form-controls
						label
							input#text(type="text",value="some text value...")
							span.description.help-inline Some explanatory text here.

				.row-fluid
					.span4.form-control-label
						label(for='password') Input type password
					.form-controls.span8
						input#password(type="password",value="123123123")

				.row-fluid
					.span4.form-control-label
						label(for='readonly') Readonly input
					.form-controls.span8
						input#readonly(type="text",readonly="readonly",value="readonly input field...")

				.row-fluid
					.span4.form-control-label
						label(for='disabled') Disabled input
					.form-controls.span8
						label
							input#disabled.span12(type="text",disabled="disabled",value="disabled input field...")
							span.description.help-block Some explanatory text here.

				.row-fluid
					.span4.form-control-label
						label(for='placeholder') Placeholder
					.form-controls.span8
						input#placeholder.span12(type="text",placeholder="Placeholder...")

				.row-fluid
					.span4.form-control-label
						label(for='icons')
							i.icon-picture.field-icon
							| Icons
					.form-controls.span8
						input#icons(type="text")

				.row-fluid.warning
					.span4.form-control-label
						label Input with warning
					.form-controls.span8
						input#icons(type="text")
						span.help-inline.description Something may have gone wrong

				.row-fluid.error
					.span4.form-control-label
						label Input with error
					.form-controls.span8
						input#icons(type="text")
						span.help-inline.description Please correct the error

				.row-fluid.info
					.span4.form-control-label
						label Input with info
					.form-controls.span8
						input#icons(type="text")
						span.help-inline.description Username is already taken

				.row-fluid.success
					.span4.form-control-label
						label Input with success
					.form-controls.span8
						input#icons(type="text")
						span.help-inline.description Woohoo!

				.row-fluid
					.span4.form-control-label
						label(for="textarea") Textarea field
							br
							span.description Some explanation here.
					.form-controls.span8
						textarea#textarea.span6(name="textarea") Some text in textarea field...

				.row-fluid
					.span4.form-control-label
						label(for='textareap') Textarea placeholder
					.form-controls.span8
						textarea#textareap.span12(placeholder="Textarea field placeholder...",name="textarea")

				.row-fluid.form-actions
					.span4
					.form-controls.span8
						button(type="submit", class="btn btn-primary") Save changes
						button(type="button",class="btn btn-danger") Cancel

	.row-fluid
		.span6
			form.form-horizontal(action='#')
				legend native Selects

				.row-fluid
					.span4.form-control-label
						label(for='select') Select
					.form-controls.span8
						select#select
							option(value="5") 5
							option(value="4") 4
							option(value="3",disabled="disabled") 3
							option(value="2") 2
							option(value="1") 1

				.row-fluid
					.span4.form-control-label
						label(for='select') Select disabled
					.form-controls.span8
						select#select(disabled="disabled")
							option(value="5") 5
							option(value="4") 4
							option(value="3") 3
							option(value="2") 2
							option(value="1") 1

		.span6
			form.form-horizontal.uniform(action='#')
				legend Uniform Selects

				.row-fluid
					.span4.form-control-label
						label(for='select') Select
					.form-controls.span8
						select#select
							option(value="5") 5
							option(value="4") 4
							option(value="3",disabled="disabled") 3
							option(value="2") 2
							option(value="1") 1

				.row-fluid
					.span4.form-control-label
						label(for='select') Select disabled
					.form-controls.span8
						select#select(disabled="disabled")
							option(value="5") 5
							option(value="4") 4
							option(value="3") 3
							option(value="2") 2
							option(value="1") 1


	.row-fluid
		.span6
			form.form-horizontal(action='#')
				legend Native Radio buttons
				.row-fluid
					.span4.form-control-label
						label(for='radio1') Radio buttons
					.form-controls.span8
						label.radio.inline
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 1
						label.radio.inline
							input(name="optionsRadios1",value="option1",type="radio", checked="checked")
							|Option 2

						label.radio.inline
							input(name="optionsRadios1",value="option2",type="radio")
							|Option 3

				.row-fluid
					.span4.form-control-label
						label(for='radio1') Radio buttons
					.form-controls.span8
						label.radio
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 1
						label.radio
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 2

						label.radio
							input(name="optionsRadios1",value="option2",type="radio")
							|Option 3

		.span6
			form.form-horizontal.uniform(action='#')
				legend Native Radio buttons
				.row-fluid
					.span4.form-control-label
						label(for='radio1') Radio buttons
					.form-controls.span8
						label.radio.inline
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 1
						label.radio.inline
							input(name="optionsRadios1",value="option1",type="radio", checked="checked")
							|Option 2

						label.radio.inline
							input(name="optionsRadios1",value="option2",type="radio")
							|Option 3

				.row-fluid
					.span4.form-control-label
						label(for='radio1') Radio buttons
					.form-controls.span8
						label.radio
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 1
						label.radio
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 2

						label.radio
							input(name="optionsRadios1",value="option2",type="radio")
							|Option 3

	.row-fluid
		.span6
			form.form-horizontal(action='#')
				legend Native Checkboxes
				.row-fluid
					.span4.form-control-label
						label(for='radio1') Checkboxes
					.form-controls.span8
						label.checkbox.inline
							input(name="optionsCheckboxes1",value="option1",type="checkbox")
							|Option 1
						label.checkbox.inline
							input(name="optionsCheckboxes2",value="option1",type="checkbox", checked="checked")
							|Option 2
						label.checkbox.inline
							input(name="optionsCheckboxes3",value="option2",type="checkbox")
							|Option 3

				.row-fluid
					.span4.form-control-label
						label(for='radio1') Checkboxes
					.form-controls.span8
						label.checkbox
							input(name="optionsCheckboxes1",value="option1",type="checkbox")
							|Option 1
						label.checkbox
							input(name="optionsCheckboxes2",value="option1",type="checkbox", checked="checked")
							|Option 2

						label.checkbox
							input(name="optionsCheckboxes3",value="option2",type="checkbox")
							|Option 3

		.span6
			form.form-horizontal.uniform(action='#')
				legend Uniform Checkboxes
				.row-fluid
					.span4.form-control-label
						label(for='radio1') Checkboxes
					.form-controls.span8
						label.checkbox.inline
							input(name="optionsCheckboxes1",value="option1",type="checkbox")
							|Option 1
						label.checkbox.inline
							input(name="optionsCheckboxes2",value="option1",type="checkbox", checked="checked")
							|Option 2
						label.checkbox.inline
							input(name="optionsCheckboxes3",value="option2",type="checkbox")
							|Option 3

				.row-fluid
					.span4.form-control-label
						label(for='radio1') Checkboxes
					.form-controls.span8
						label.checkbox
							input(name="optionsCheckboxes1",value="option1",type="checkbox")
							|Option 1
						label.checkbox
							input(name="optionsCheckboxes2",value="option1",type="checkbox", checked="checked")
							|Option 2

						label.checkbox
							input(name="optionsCheckboxes3",value="option2",type="checkbox")
							|Option 3

	.row-fluid
		.span6
			form.form-horizontal(action='#')
				legend Native File input
				.row-fluid
					.span4.form-control-label
						label(for='file1') File input
					.form-controls.span8
						label
							input#file1(type="file")

		.span6
			form.form-horizontal.uniform(action='#')
				legend Uniform File input
				.row-fluid
					.span4.form-control-label
						label(for='file1') File input
					.form-controls.span8
						label
							input#file1(type="file")

	row-fluid
		.span12
			form.form-horizontal(action='#')
				legend Buttons
				.row-fluid
					.span4.form-control-label
						label(for='file1') Buttons
					.form-controls.span8

block scripts
	script(src="/js/vendor/pixelmatrix-uniform/jquery.uniform.min.js")