extends ../../layouts/layout

block styles
	link(rel="stylesheet",href="/js/vendor/pixelmatrix-uniform/themes/default/css/uniform.default.min.css",media="screen")

block sidebar
	include ../layouts/sidebar

block content
	.content-header
		.content-header-title
			h2 Tabs
			span.description A single example shown as it might be displayed across multiple pages.

	.row-fluid
		.span12
			form.form-horizontal(action='#')
				legend Simple input fields
				.row-fluid
					.span4.form-control-label
						label(for='text') Input type text
					.span8.form-controls
						label
							input#text(type="text",value="some text value...")
							span.description.help-inline Some explanatory text here.

				.row-fluid
					.span4.form-control-label
						label(for='password') Input type password
					.form-controls.span8
						input#password(type="password",value="123123123")

				.row-fluid
					.span4.form-control-label
						label(for='readonly') Readonly input
					.form-controls.span8
						input#readonly(type="text",readonly="readonly",value="readonly input field...")

				.row-fluid
					.span4.form-control-label
						label(for='disabled') Disabled input
					.form-controls.span8
						label
							input#disabled.span12(type="text",disabled="disabled",value="disabled input field...")
							span.description.help-block Some explanatory text here.

				.row-fluid
					.span4.form-control-label
						label(for='placeholder') Placeholder
					.form-controls.span8
						input#placeholder.span12(type="text",placeholder="Placeholder...")

				.row-fluid
					.span4.form-control-label
						label(for='icons')
							i.icon-picture.field-icon
							| Icons
					.form-controls.span8
						input#icons(type="text")

				.row-fluid.warning
					.span4.form-control-label
						label Input with warning
					.form-controls.span8
						input#icons(type="text")
						span.help-inline.description Something may have gone wrong

				.row-fluid.error
					.span4.form-control-label
						label Input with error
					.form-controls.span8
						input#icons(type="text")
						span.help-inline.description Please correct the error

				.row-fluid.info
					.span4.form-control-label
						label Input with info
					.form-controls.span8
						input#icons(type="text")
						span.help-inline.description Username is already taken

				.row-fluid.success
					.span4.form-control-label
						label Input with success
					.form-controls.span8
						input#icons(type="text")
						span.help-inline.description Woohoo!

				.row-fluid
					.span4.form-control-label
						label Prepended content
					.form-controls.span8
						.input-prepend
							span.add-on @
							input(type="text",placeholder="Username")

				.row-fluid
					.span4.form-control-label
						label Appended content
					.form-controls.span8
						.input-append
							input(type="text")
							span.add-on .00

				.row-fluid
					.span4.form-control-label
						label Combined
					.form-controls.span8
						.input-prepend.input-append
							span.add-on $
							input.span10(type="text")
							span.add-on .00

				.row-fluid.form-actions
					.span4
					.form-controls.span8
						button.btn.btn-primary(type="submit") Save changes
						button.btn.btn-danger(type="button") Cancel

			form.form-horizontal(action='#')
				legend Textarea fields
				.row-fluid
					.span4.form-control-label
						label(for="textarea") Textarea field
							br
							span.description Some explanation here.
					.form-controls.span8
						textarea#textarea.span6(name="textarea") Some text in textarea field...

				.row-fluid
					.span4.form-control-label
						label(for='textareap') Textarea placeholder
					.form-controls.span8
						textarea#textareap.span12(placeholder="Textarea field placeholder...",name="textarea")

	.row-fluid
		.span6
			form.form-horizontal(action='#')
				legend native Selects

				.row-fluid
					.span4.form-control-label
						label(for='select') Select
					.form-controls.span8
						select#select
							option(value="5") 5
							option(value="4") 4
							option(value="3",disabled="disabled") 3
							option(value="2") 2
							option(value="1") 1

				.row-fluid
					.span4.form-control-label
						label(for='select') Select disabled
					.form-controls.span8
						select#select(disabled="disabled")
							option(value="5") 5
							option(value="4") 4
							option(value="3") 3
							option(value="2") 2
							option(value="1") 1

		.span6
			form.form-horizontal.uniform(action='#')
				legend Uniform Selects

				.row-fluid
					.span4.form-control-label
						label(for='select') Select
					.form-controls.span8
						select#select
							option(value="5") 5
							option(value="4") 4
							option(value="3",disabled="disabled") 3
							option(value="2") 2
							option(value="1") 1

				.row-fluid
					.span4.form-control-label
						label(for='select') Select disabled
					.form-controls.span8
						select#select(disabled="disabled")
							option(value="5") 5
							option(value="4") 4
							option(value="3") 3
							option(value="2") 2
							option(value="1") 1


	.row-fluid
		.span6
			form.form-horizontal(action='#')
				legend Native Radio buttons
				.row-fluid
					.span4.form-control-label
						label(for='radio1') Radio buttons
					.form-controls.span8
						label.radio.inline
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 1
						label.radio.inline
							input(name="optionsRadios1",value="option1",type="radio", checked="checked")
							|Option 2

						label.radio.inline
							input(name="optionsRadios1",value="option2",type="radio")
							|Option 3

				.row-fluid
					.span4.form-control-label
						label(for='radio1') Radio buttons
					.form-controls.span8
						label.radio
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 1
						label.radio
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 2

						label.radio
							input(name="optionsRadios1",value="option2",type="radio")
							|Option 3

		.span6
			form.form-horizontal.uniform(action='#')
				legend Native Radio buttons
				.row-fluid
					.span4.form-control-label
						label(for='radio1') Radio buttons
					.form-controls.span8
						label.radio.inline
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 1
						label.radio.inline
							input(name="optionsRadios1",value="option1",type="radio", checked="checked")
							|Option 2

						label.radio.inline
							input(name="optionsRadios1",value="option2",type="radio")
							|Option 3

				.row-fluid
					.span4.form-control-label
						label(for='radio1') Radio buttons
					.form-controls.span8
						label.radio
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 1
						label.radio
							input(name="optionsRadios1",value="option1",type="radio")
							|Option 2

						label.radio
							input(name="optionsRadios1",value="option2",type="radio")
							|Option 3

	.row-fluid
		.span6
			form.form-horizontal(action='#')
				legend Native Checkboxes
				.row-fluid
					.span4.form-control-label
						label(for='radio1') Checkboxes
					.form-controls.span8
						label.checkbox.inline
							input(name="optionsCheckboxes1",value="option1",type="checkbox")
							|Option 1
						label.checkbox.inline
							input(name="optionsCheckboxes2",value="option1",type="checkbox", checked="checked")
							|Option 2
						label.checkbox.inline
							input(name="optionsCheckboxes3",value="option2",type="checkbox")
							|Option 3

				.row-fluid
					.span4.form-control-label
						label(for='radio1') Checkboxes
					.form-controls.span8
						label.checkbox
							input(name="optionsCheckboxes1",value="option1",type="checkbox")
							|Option 1
						label.checkbox
							input(name="optionsCheckboxes2",value="option1",type="checkbox", checked="checked")
							|Option 2

						label.checkbox
							input(name="optionsCheckboxes3",value="option2",type="checkbox")
							|Option 3

		.span6
			form.form-horizontal.uniform(action='#')
				legend Uniform Checkboxes
				.row-fluid
					.span4.form-control-label
						label(for='radio1') Checkboxes
					.form-controls.span8
						label.checkbox.inline
							input(name="optionsCheckboxes1",value="option1",type="checkbox")
							|Option 1
						label.checkbox.inline
							input(name="optionsCheckboxes2",value="option1",type="checkbox", checked="checked")
							|Option 2
						label.checkbox.inline
							input(name="optionsCheckboxes3",value="option2",type="checkbox")
							|Option 3

				.row-fluid
					.span4.form-control-label
						label(for='radio1') Checkboxes
					.form-controls.span8
						label.checkbox
							input(name="optionsCheckboxes1",value="option1",type="checkbox")
							|Option 1
						label.checkbox
							input(name="optionsCheckboxes2",value="option1",type="checkbox", checked="checked")
							|Option 2

						label.checkbox
							input(name="optionsCheckboxes3",value="option2",type="checkbox")
							|Option 3

	.row-fluid
		.span6
			form.form-horizontal(action='#')
				legend Native File input
				.row-fluid
					.span4.form-control-label
						label(for='file1') File input
					.form-controls.span8
						label
							input#file1(type="file")

		.span6
			form.form-horizontal.uniform(action='#')
				legend Uniform File input
				.row-fluid
					.span4.form-control-label
						label(for='file1') File input
					.form-controls.span8
						label
							input#file1(type="file")

	h2 Buttons

	.row-fluid
		.span6
			.box
				.box-header
					h3 Default buttons
				.box-content
					button.btn Default
					button.btn.btn-primary Primary
					button.btn.btn-info Info
					button.btn.btn-success Success
					button.btn.btn-warning Warning
					button.btn.btn-danger Danger
					button.btn.btn-inverse Inverse
					button.btn.btn-link Link

			.box
				.box-header
					h3 Disabled state
				.box-content
					a.btn.btn-large.btn-primary.disabled(href="#") Primary link
					| &nbsp;
					button.btn.btn-large.disabled(type="button") Link

		.span6.box
			.box-header
				h3 Button sizes
			.box-content
				p
					button.btn.btn-large.btn-primary(type="button") Large button
					| &nbsp;
					button.btn.btn-large(type="button") Large button

				p
					button.btn.btn-primary(type="button") Default button
					| &nbsp;
					button.btn(type="button") Default button

				p
					button.btn.btn-small.btn-primary(type="button") Small button
					| &nbsp;
					button.btn.btn-small(type="button") Small button

				p
					button.btn.btn-mini.btn-primary(type="button") Mini button
					| &nbsp;
					button.btn.btn-mini(type="button") Mini button

	.row-fluid
		.span6
			.box
				.box-header
					h3 Block level buttons
				.box-content
					button.btn.btn-large.btn-block.btn-primary(type="button") Block level button
					button.btn.btn-large.btn-block(type="button") Block level button

			.box
				.box-header
					h3 Search form
				.box-content
					form.form-search.align-center
						.input-append
							input.search-query(type="text")
							button.btn(type="submit") Search

						br
						br
						.input-prepend
							button.btn(type="submit") Search
							input.search-query(type="text")

		.span6.box
			.box-header
				h3 Action buttons
			.box-content
				.input-append
					input(type="text")
					button.btn(type="button") Go!
				br
				.input-append
					input(type="text")
					button.btn(type="button") Search
					button.btn(type="button") Options

				br
				.input-append
					input(type="text")
					.btn-group
						button.btn.dropdown-toggle(data-toggle="dropdown")
							| Action
							span.caret
						ul.dropdown-menu
							li
								a(href="#") Action
							li
								a(href="#") Another action
							li
								a(href="#") Something else here
							li.divider
							li
								a(href="#") Separated link

				br
				.input-prepend
					.btn-group
						button.btn.dropdown-toggle(data-toggle="dropdown")
							| Action
							span.caret
						ul.dropdown-menu
							li
								a(href="#") Action
							li
								a(href="#") Another action
							li
								a(href="#") Something else here
							li.divider
							li
								a(href="#") Separated link
					input(type="text")

				br
				.input-append.input-prepend
					.btn-group
						button.btn.dropdown-toggle(data-toggle="dropdown")
							| Action
							span.caret
						ul.dropdown-menu
							li
								a(href="#") Action
							li
								a(href="#") Another action
							li
								a(href="#") Something else here
							li.divider
							li
								a(href="#") Separated link
					input(type="text")
					.btn-group
						button.btn.dropdown-toggle(data-toggle="dropdown")
							| Action
							span.caret
						ul.dropdown-menu
							li
								a(href="#") Action
							li
								a(href="#") Another action
							li
								a(href="#") Something else here
							li.divider
							li
								a(href="#") Separated link

				br
				.input-prepend
					.btn-group
						button.btn Action
						button.btn.dropdown-toggle(data-toggle="dropdown")
							span.caret

						ul.dropdown-menu
							li
								a(href="#") Action
							li
								a(href="#") Another action
							li
								a(href="#") Something else here
							li.divider
							li
								a(href="#") Separated link

					input(type="text")

				br
				.input-append
					input(type="text")

					.btn-group
						button.btn Action
						button.btn.dropdown-toggle(data-toggle="dropdown")
							span.caret

						ul.dropdown-menu
							li
								a(href="#") Action
							li
								a(href="#") Another action
							li
								a(href="#") Something else here
							li.divider
							li
								a(href="#") Separated link

block scripts
	script(src="/js/vendor/pixelmatrix-uniform/jquery.uniform.min.js")