extends ../layouts/layout

block sidebar
	include ./layouts/sidebar

block content
		.content-header
			.content-header-title
				h2 Page Title
				span.description Page description goes here.

		.row-fluid
			.span6.box
				.box-header Box Header
				.box-content Box Content

		.row-fluid
			.span6
				table.table-captioned.table.table-striped.table-bordered
					caption List of Users
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username

					tbody
						tr
							td 1
							td Mark
							td Otto
							td @mdo

						tr
							td 2
							td Jacob
							td Thornton
							td @fat

						tr
							td 3
							td(colspan="2") Larry the Bird
							td @twitter

			.span6
				table.table.table-captioned.table-condensed.table-striped.table-bordered
					caption List of Users
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username

					tbody
						tr
							td 1
							td Mark
							td Otto
							td @mdo

						tr
							td 2
							td Jacob
							td Thornton
							td @fat

						tr
							td 3
							td(colspan="2") Larry the Bird
							td @twitter