extends ../../layouts/layout

block sidebar
	include ../layouts/sidebar

block content
	h2.border-bottom-double Page Title
		br
		span.description Page description goes here.

	.row-fluid
		.span4.box
			.box-header
				h3 Box without action bar
			.box-content
				p The futility of synthesising explosion of the heavens is sincere.

				p Eheu, festus abactus!

				p Flavum danista nunquam pugnas indictio est.

				p Sunt bullaes imperium alter, nobilis extumes. Clemens xiphiass ducunt ad navis. Credere aegre ducunt ad fatalis luna. Ralis aonidess ducunt ad triticum

		.span4.box
			.box-header
				.actions
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Box with only one item in action bar
			.box-content
				p The futility of synthesising explosion of the heavens is sincere.

				p Eheu, festus abactus!

				p Flavum danista nunquam pugnas indictio est.

				p Sunt bullaes imperium alter, nobilis extumes. Clemens xiphiass ducunt ad navis. Credere aegre ducunt ad fatalis luna. Ralis aonidess ducunt ad triticum

		.span4.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Box with action bar
			.box-content
				p The futility of synthesising explosion of the heavens is sincere.

				p Eheu, festus abactus!

				p Flavum danista nunquam pugnas indictio est.

				p Sunt bullaes imperium alter, nobilis extumes. Clemens xiphiass ducunt ad navis. Credere aegre ducunt ad fatalis luna. Ralis aonidess ducunt ad triticum

	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 With normal background
			.box-content
				p The futility of synthesising explosion of the heavens is sincere.

				p Eheu, festus abactus!

				p Flavum danista nunquam pugnas indictio est.

				p Sunt bullaes imperium alter, nobilis extumes. Clemens xiphiass ducunt ad navis. Credere aegre ducunt ad fatalis luna. Ralis aonidess ducunt ad triticum

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 With inverted background
			.box-content.bg-inverse
				p The futility of synthesising explosion of the heavens is sincere.

				p Eheu, festus abactus!

				p Flavum danista nunquam pugnas indictio est.

				p Sunt bullaes imperium alter, nobilis extumes. Clemens xiphiass ducunt ad navis. Credere aegre ducunt ad fatalis luna. Ralis aonidess ducunt ad triticum
