extends ../../layouts/layout

block sidebar
	include ../layouts/sidebar

block content
		h2.border-bottom-double Page Title
			br
			span.description Page description goes here.

		.row-fluid
			.span6.box
				.box-header Chat Classic
				.box-content
					ul.conversation.chat-classic
						li.isuser
							.username Juliet:
							.datetime 03:11:32 PM
							.body O Romeo, Romeo, wherefore art thou Romeo?
						li.isuser
							.username Juliet:
							.datetime
							.body Deny thy father and refuse thy name;
						li.isuser
							.username Juliet:
							.datetime
							.body Or if thou wilt not, be but sworn my love
						li.isuser
							.username Juliet:
							.datetime
							.body And I'll no longer be a Capulet.
						li
							.username Romeo:
							.datetime 03:11:32 PM
							.body Shall I hear more, or shall I speak at this?
						li.system
							.datetime 03:12:00 PM
							.body - Juliet has disconnected

					.conversation-actionbar
						.row-fluid
							.span10
								input.span12(type="text",placeholder="Type your message here...")
							.span2
								button.span12.btn.btn-primary Send

			.span6.box
				.box-header Style 2
				.box-content

		.row-fluid
			.span6.box
				.box-header Style 3
				.box-content

			.span6.box
				.box-header Style 4
				.box-content

