extends ../../layouts/layout

block sidebar
	include ../layouts/sidebar

block content
	h2.border-bottom-double Page Title
		br
		span.description Page description goes here.

	h2 Progress bars
	.row-fluid
		.span4.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Simple
			.box-content
				.progress.progress-info
					.bar(style="width: 10%;")
				.progress
					.bar(style="width: 25%;")
				.progress.progress-success
					.bar(style="width: 50%;")
				.progress.progress-warning
					.bar(style="width: 75%;")
				.progress.progress-danger
					.bar(style="width: 100%;")

		.span4.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Stripped
			.box-content
				.progress.progress-info.progress-striped
					.bar(style="width: 10%;")
				.progress.progress-striped
					.bar(style="width: 25%;")
				.progress.progress-success.progress-striped
					.bar(style="width: 50%;")
				.progress.progress-warning.progress-striped
					.bar(style="width: 75%;")
				.progress.progress-danger.progress-striped
					.bar(style="width: 100%;")

		.span4.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Animated
			.box-content
				.progress.progress-info.progress-striped.active
					.bar(style="width: 10%;")
				.progress.progress-striped.active
					.bar(style="width: 25%;")
				.progress.progress-success.progress-striped.active
					.bar(style="width: 50%;")
				.progress.progress-warning.progress-striped.active
					.bar(style="width: 75%;")
				.progress.progress-danger.progress-striped.active
					.bar(style="width: 100%;")

	.row-fluid
		.span4.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Informative Text
			.box-content
				.progress.progress-info.progress-striped
					.bar(style="width: 10%;") 10%
				.progress.progress-striped
					.bar(style="width: 25%;") 25%
				.progress.progress-success.progress-striped
					.bar(style="width: 50%;") 50%
				.progress.progress-warning.progress-striped
					.bar(style="width: 75%;") 75%
				.progress.progress-danger.progress-striped
					.bar(style="width: 100%;") 100%

		.span4.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Auto-updated progress bars sample
			.box-content
				.progress.progress-info.progress-striped.progress-preview
					.bar(style="width: 10%;") 10%
				.progress.progress-striped.progress-preview
					.bar(style="width: 25%;") 25%
				.progress.progress-success.progress-striped.progress-preview
					.bar(style="width: 50%;") 50%
				.progress.progress-warning.progress-striped.progress-preview
					.bar(style="width: 75%;") 75%
				.progress.progress-danger.progress-striped.progress-preview
					.bar(style="width: 100%;") 100%

		.span4.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Stacked
			.box-content
				.progress
					.bar.bar-success(style="width: 35%;")
					.bar.bar-warning(style="width: 20%;")
					.bar.bar-danger(style="width: 10%;")

		.span4.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Mini progress bars
			.box-content
				.progress.progress-info.progress-mini
					.bar(style="width: 10%;")
				.progress.progress-mini
					.bar(style="width: 25%;")
				.progress.progress-success.progress-mini
					.bar(style="width: 50%;")
				.progress.progress-warning.progress-mini
					.bar(style="width: 75%;")
				.progress.progress-danger.progress-mini
					.bar(style="width: 100%;")

				.progress.progress-mini
					.bar.bar-success(style="width: 35%;")
					.bar.bar-warning(style="width: 20%;")
					.bar.bar-danger(style="width: 10%;")