.widget.logged-user-info
	.widget-content
		.pull-left
			img(src="/images/icons/person.svg")

		ul
			li John Doe
			li
				small
					em as Administrator
			li
				small
					em Last access: 23 Jun 14:30

		.btn-group
			button.btn.btn-small.btn-info Messages
			button.btn.btn-small.btn-info Profile
			button.btn.btn-small.btn-danger Logout

ul.nav.nav-tabs.nav-stacked

	li(class=(page == 'forms/basic' ?'active':''))
		a.border-radius-none(href="/forms/basic")
			i.icon-edit(class=(page == 'forms/basic/index' ?'icon-white':''))
			| Basic Input Fields
	li(class=(page == 'forms/advanced' ?'active':''))
		a.border-radius-none(href="/forms/advanced")
			i.icon-share(class=(page == 'forms/advanced/index' ?'icon-white':''))
			| Advanced Input Elements

	li(class=(page == 'forms/styles/horizontal'||page == 'forms/styles/vertical'||page == 'forms/styles/inline' ?'active':''))
		div.accordion-group.border-radius-none.margin-bottom-none
			div.accordion-heading
				a.accordion-toggle(data-toggle="collapse",href="#styles")
					i.icon-comment
					| Form Styles
					i.accordion-level.icon-chevron-right.pull-right

			#styles.accordion-body.collapse(class=(page == 'forms/styles/horizontal' || page == 'forms/styles/vertical' || page == 'forms/styles/inline'?'in':''))
				a.border-radius-none(href="/forms/styles/horizontal",class=(page == 'forms/styles/horizontal' ?'active':''))
					.accordion-inner
						i.icon-tags
						| Horizontal Form

				a.border-radius-none(href="/forms/styles/vertical",class=(page == 'forms/styles/vertical' ?'active':''))
					.accordion-inner
						i.icon-comment
						| Vertical Form

				a.border-radius-none(href="/forms/styles/inline",class=(page == 'forms/styles/inline' ?'active':''))
					.accordion-inner
						i.icon-comment
						| Inline Form
