/* =Alignment.
 -------------------------------------------------------------- */
.align-center {
	text-align: center;
}

/* =Border.
 -------------------------------------------------------------- */
.border-none {
	border: none !important;
}
.border-top-none {
	border-top: none !important;
}
.border-radius-none {
	border-radius: 0 !important;
}

/* =Margin.
 -------------------------------------------------------------- */
.margin-none {
	margin : 0 !important;
}

.margin-bottom-none {
	margin-bottom : 0 !important;
}

/* =Padding.
 -------------------------------------------------------------- */
.padding-none {
	padding : 0 !important;
}

.padding-bottom-none {
	padding-bottom : 0 !important;
}