/* =General.
 -------------------------------------------------------------- */

/* =Structure.
 -------------------------------------------------------------- */
/* =Structure. Navbar.
 -------------------------------------------------------------- */
.navbar-inner {
	background-color : #0088cc !important;
	color            : #ffffff;
}

.navbar .brand {
	padding : 5px 15px !important;
}

/* =Structure. Navbar. Buttons.
 -------------------------------------------------------------- */
.navbar .user-bar.pull-right {
	padding-right : 2em;
}

.navbar .user-bar.pull-right > li {
	margin-right : 0.5em;
}

.navbar .user-bar.pull-right li:last-child {
	margin-right : 0;
}

/* =Structure. Breadcrumb.
 -------------------------------------------------------------- */
.breadcrumb {
	background-image : linear-gradient(to bottom, #ffffff, #f2f2f2);
	border           : 1px solid #dddddd;
}

.breadcrumb-container {
	width : 85% !important;
}

/* =Structure. Sidebar.
 -------------------------------------------------------------- */
.sidebar {
	padding : 0.5em;
}

.sidebar-inner {
	padding : 0.5em;
}

.sidebar .nav {
	/*box-shadow    : 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.31);*/
	margin-bottom : 0;
}

.sidebar .nav li:last-child {
	margin-bottom : 0;
}

.sidebar .nav li > a {
	background-image : linear-gradient(to bottom, #ffffff, #e7ebef);
	border           : 1px solid #bcbcbc;
	color            : #404040;
	text-shadow      : 0 1px 0 #ffffff;
}


.sidebar .nav li .accordion-group {
	border : 0;
}

.sidebar .nav li .accordion-toggle {
	background-image : linear-gradient(to bottom, #ffffff, #e7ebef);
	border           : 1px solid #bcbcbc;
	color            : #404040;
	text-shadow      : 0 1px 0 #ffffff;
}

.sidebar .nav li.active .accordion-toggle {
	background-image : linear-gradient(to bottom, #5b9aed, #1d68c0);
	border           : 1px solid #2e69ae;
	color            : #fefefe;
	text-shadow      : 0 1px 0 #193c65;
}

.sidebar .nav li .accordion-body {
	background-color : #eff3f6;
}

.sidebar .nav li .accordion-body .accordion-inner {
	border-top    : 1px solid transparent;
	border-bottom : 1px solid transparent;

	border-left   : 1px solid #b9c0cc;
	border-right  : 1px solid #b9c0cc;

	color         : #404040;
	text-shadow   : 0 1px 0 #ffffff;

	padding-left: 2em;
}

.sidebar .nav li .accordion-body a:last-of-type .accordion-inner {
	border-bottom : 1px solid #b9c0cc;
}

.sidebar .nav li .accordion-body .accordion-inner:hover {
	background-color : #d4e2f0 !important;
	border-bottom    : 1px solid #b9c0cc;
	border-top       : 1px solid #b9c0cc;
}

.sidebar .nav li .accordion-body .active .accordion-inner {
	background-color   : #e1ebf6;
	border-right-width : 4px;
	border-bottom      : 1px solid #b9c0cc;
	border-top         : 1px solid #b9c0cc;
}

.sidebar .nav li a i {
	margin-right : 0.5em !important;
}

.sidebar .nav li a i.accordion-level {
	margin-right : -5px !important;
}

/* =Structure. Separators.
 -------------------------------------------------------------- */
.separator.dashed {
	border-bottom : 1px dashed #dddddd;
}

.separator.dotted {
	border-bottom : 1px dotted #dddddd;
}

/* =Typography.
 -------------------------------------------------------------- */
/* =Headings.
 -------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight    : normal;
	line-height    : 1.2;
	margin-top     : 1em;
	margin-bottom  : 0.8em;
	padding-bottom : 0.3em;
}

h1 {
	font-size : 2em;
}

h2 {
	font-size : 1.4em;
}

h3 {
	font-size : 1.3em;
}

h4 {
	font-size : 1.15em;
}

.box-content > h1,
.box-content > h2,
.box-content > h3,
.box-content > h4,
.box-content > h5,
.box-content > h6 {
	margin-top : 0;
}

/* =Text blocks.
 -------------------------------------------------------------- */
p:last-of-type {
	margin-bottom : 0;
}

/* =Blockquotes.
 -------------------------------------------------------------- */
blockquote:last-of-type {
	margin-bottom : 0 !important;
}

/* =Lists.
 -------------------------------------------------------------- */
.list-style-upper-alpha li {
	list-style-type : upper-alpha;
}

.list-style-roman li {
	list-style-type : upper-roman;
}

.list-style-icons {
	margin-left : 0;
}

.list-style-icons li {
	list-style-type : none;
}

.list-style-icons li i {
	margin-right : 0.8em;
	margin-top   : 0.2em;
}

.list-style-check {
	margin-left : 0;
}

.list-style-check li {
	list-style-type : none;
}

.list-style-check li i {
	margin-right : 0.8em;
	margin-top   : 0.2em;
}

/* =Links.
 -------------------------------------------------------------- */
/* =Tables.
 -------------------------------------------------------------- */
table:last-of-type {
	margin-bottom : 0;
}

table caption {
	background-image        : linear-gradient(to bottom, #ffffff, #f2f2f2);
	border                  : 1px solid #aaaaaa;
	border-top-left-radius  : 4px;
	border-top-right-radius : 4px;
	padding                 : 0.6em;
}

table caption + thead tr th {
	border-radius : 0 !important;
}

.table.table-captioned {
	border-top-left-radius  : 0;
	border-top-right-radius : 0;
	border-top              : 0;
}

/* =Icons.
 -------------------------------------------------------------- */
.icon-chevron-right {
	margin-left : 0.4em;
	margin-top  : 2px !important;
	opacity     : 0.25;
}

/* =Content.
 -------------------------------------------------------------- */
.content {
	/*background-color: #fff3d7;*/
	margin     : 0 !important;
	min-height : 750px !important;
	padding    : 0 2.6em 0 2.6em !important;
	width      : 85.1% !important;
}

/* =Content. Header.
 -------------------------------------------------------------- */
.content-header {
	border-bottom  : 3px double #cccccc;
	margin-bottom  : 2.5em;
	margin-top     : 2em;
	padding-bottom : 0.7em;
}

.content-header:first-of-type {
	margin-top : 0.5em;
}

.content-header-title {
	display : inline-block;
}

.content-header .description {
	font-size : 1em;
}

/* =Widgets.
 -------------------------------------------------------------- */
.widget-content {
	padding : 0.5em;
}

.widget .pull-left {
	margin-right : 0.8em;
}

/* =Widgets. Logged in user information.
 -------------------------------------------------------------- */
.widget.logged-user-info .widget-content {
	background-color : #f5f5f5;
	border           : 1px solid #aaaaaa;
	border-radius    : 4px 4px 4px 4px;
	box-shadow       : 0 0 5px #757575 inset;
	margin-bottom    : 1em;
}

.widget.logged-user-info ul li {
	line-height     : 1.3;
	list-style-type : none;
}

.widget.logged-user-info img {
	background-color : white;
	border           : 1px solid gray;
	border-radius    : 4px;
	box-shadow       : 0 1px 2px 0 #b5b5b5;
	padding          : 0.2em;
	height           : 45px;
	width            : 45px;
}

/* =Boxes.
 -------------------------------------------------------------- */
.box {
	border-radius : 4px;
	box-shadow    : 0 1px 8px 0 #b5b5b5;
	margin-bottom : 2em;
}

.box .box-header {
	background-image        : linear-gradient(to bottom, #ffffff, #cccccc);
	border                  : 1px solid #aaaaaa;
	border-top-left-radius  : 4px;
	border-top-right-radius : 4px;
	padding                 : 0.6em;
}

.box .box-header h3 {
	display     : inline;
	font-size   : 14px !important;
	font-style  : normal;
	font-weight : normal;
}

.box .box-content {
	background-color           : white;
	border                     : 1px solid #aaaaaa;
	border-top                 : 0;
	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;
	padding                    : 0.6em;
}

.box .box-content .row-fluid:last-child .box {
	margin-bottom : 0;
}

/* =Description.
 -------------------------------------------------------------- */
.description {
	color      : gray;
	font-style : italic;
}

/* =TODO: To organize.
 -------------------------------------------------------------- */
body {
	background  : url("../images/backgrounds/d.png") repeat scroll 0 0 transparent;
	font-family : Ubuntu, "Trebuchet MS", sans-serif !important;
	min-height  : 100% !important;
	padding-top : 40px;
}

.nav > li a:hover, .nav > li a:focus {
	text-decoration  : none;
	background-color : rgb(238, 238, 238);
}

.description {
	font-size   : 0.8em;
	font-style  : italic !important;
	font-weight : normal;
}

.badge {
	padding-left  : 6px !important;
	padding-right : 6px !important;
}

.content section {
	margin-right : 2em;
}

code {
	font-weight : normal;
}

/* =Tabs.
 -------------------------------------------------------------- */
.cf-tabs {
	margin-bottom : 2em;
}

.cf-tabs ul {
	margin-bottom : 16px;
	padding-left  : 0.6em;
}

.cf-tabs ul > li {
	margin-right : 0.3em;
}

.cf-tabs ul > li > a {
	padding-bottom : 6px;
	padding-top    : 6px;
}

.cf-tabs ul > li.active > a {
	color : #d54e21 !important;
}

/* =Tabs. Default.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-default > .tab-content {
	padding-left : 0.8em;
}

/* =Tabs. Default B.
 -------------------------------------------------------------- */
.cf-tabs-default-b ul {
	border-bottom-color : #aaaaaa;
}

.cf-tabs-default-b ul > li a {
	border        : 1px solid #d3d3d3;
	border-bottom : none;
}

.cf-tabs-default-b ul > li.active a,
.cf-tabs-default-b ul > li.active a:hover {
	border              : 1px solid #aaaaaa;
	border-bottom-color : white;
}

/* =Tabs. A.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-a .box-header,
.cf-tabs.cf-tabs-b .box-header,
.cf-tabs.cf-tabs-c .box-header,
.cf-tabs.cf-tabs-d .box-header {
	padding : 0.4em 0.3em 0 0.3em;
}

.cf-tabs.cf-tabs-a ul,
.cf-tabs.cf-tabs-b ul,
.cf-tabs.cf-tabs-c ul,
.cf-tabs.cf-tabs-d ul {
	border-bottom : 0;
	margin-bottom : 0;
	padding-left  : 0;
}

/* =Tabs. B.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-b ul > li,
.cf-tabs.cf-tabs-c ul > li {
	margin-right : 0;
}

.cf-tabs.cf-tabs-b ul > li:first-child a,
.cf-tabs.cf-tabs-c ul > li:first-child a {
	border-right            : none;
	border-top-right-radius : 0;
}

.cf-tabs.cf-tabs-b ul > li:last-child a,
.cf-tabs.cf-tabs-c ul > li:last-child a {
	border-top-left-radius : 0;
}

.cf-tabs.cf-tabs-b ul > li a,
.cf-tabs.cf-tabs-c ul > li a {
	border-left  : 1px solid #dddddd;
	border-right : 1px solid #dddddd;
	border-top   : 1px solid #dddddd;
	margin-right : 0;
}

/* =Tabs. C.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-c .box-header {
	padding : 0;
}

.cf-tabs.cf-tabs-c ul > li a {
	border-top     : 0;
	border-radius  : 0;
	padding-top    : 10px;
	padding-bottom : 8px;
}

.cf-tabs.cf-tabs-c ul > li a:hover,
.cf-tabs.cf-tabs-c ul > li a:focus {
	border-top : 0;
}

.cf-tabs.cf-tabs-c ul > li:first-child a {
	border-right : none;
	border-left  : none;
}

/* =Tabs. D.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-d .box-header {
	padding : 0.3em;
}

.cf-tabs.cf-tabs-d ul > li {
	margin-right : 0;
}

.cf-tabs.cf-tabs-d ul > li a {
	border       : 1px solid #dddddd;
	margin-right : 0;
	padding      : 0.3em 0.6em;
}

.cf-tabs.cf-tabs-d ul > li a:hover {
	border-bottom-color : #dddddd;
}

.cf-tabs.cf-tabs-d ul > li:first-child a {
	border-top-right-radius   : 0;
	border-bottom-left-radius : 4px;
	border-bottom-color       : #dddddd;
}

.cf-tabs.cf-tabs-d ul > li:last-child a {
	border-top-left-radius     : 0;
	border-bottom-right-radius : 4px;
	border-left                : 0;
}

/* =Tabs. F.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-f > ul {
	border-bottom : 3px double #cccccc;
	text-align    : center;
}

.cf-tabs.cf-tabs-f > ul > li {
	display       : inline-block;
	float         : none;
	margin-bottom : -0.2em;
	margin-right  : 0;
	position      : relative;
}

.cf-tabs.cf-tabs-f > ul > li a {
	background-color : transparent !important;
	border           : none !important;
	margin-right     : 0;
}

.cf-tabs.cf-tabs-f > ul > li.active {
	border-bottom : 3px solid #d54e21;
}

.cf-tabs.cf-tabs-f > ul > li.active:before {
	border-top   : 4px solid #d54e21;
	border-left  : 4px solid transparent;
	border-right : 4px solid transparent;
	content      : "";
	display      : block;
	left         : 50%;
	top          : 2.95em;
	margin-left  : -4px;
	margin-top   : -6px;
	position     : absolute;
}

/* =Tabs. F. North Arrow.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-f.cf-tabs-f-n-arrow > ul > li.active:before {
	border-bottom : 4px solid #d54e21;
	border-top    : none;
	top           : 2.45em;
}

/* =Tabs. F. B.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-fb > ul {
	background-color : #f5f5f5;
	border-top       : 3px double #cccccc;
}

/* =Tabs. F. Background in selected tab.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-fb.cf-tabs-fb-libg > ul > li.active {
	background-color : #efefef;
}

/* =TODO: Tabs. Quick lists.
 -------------------------------------------------------------- */
.cf-tabs.cf-tabs-fb.cf-tabs-quick-list {

}

/* =Tabs. Vertical Tabs.
 -------------------------------------------------------------- */
.cf-tabs.tabs-left > ul > li {
	margin-right : 0;
}

.cf-tabs.tabs-left.tabs-left-b > ul {
	border-right-color : #d3d3d3;
	padding-right      : 0.7em;
}

.cf-tabs.tabs-left.tabs-left-b > ul > li {
	border        : 1px solid transparent;
	margin-right  : 0;
	margin-bottom : 0.3em;
}

.cf-tabs.tabs-left.tabs-left-b > ul > li a {
	padding-bottom : 8px;
	padding-top    : 8px;
}

.cf-tabs.tabs-left.tabs-left-b > ul > li.active {
}

.cf-tabs.tabs-left.tabs-left-b > ul > li.active a {
	background-image : -moz-linear-gradient(center top, #ffffff, #ffffff 25%, #e6e6e6);
	border           : 1px solid #a5a0a0 !important;
	border-radius    : 4px;
}

.cf-tabs.tabs-left.tabs-left-b > ul > li a:hover {
	background-color  : #e6e6e6;
	background-image  : -moz-linear-gradient(center top, #ffffff, #ffffff 25%, #e6e6e6);
	background-repeat : no-repeat;
	border-color      : #cccccc #cccccc #bbbbbb;
	border-radius     : 4px 4px 4px 4px;
	border-style      : solid;
	border-width      : 1px;
	box-shadow        : 0 1px 2px 0 #b5b5b5;
	text-shadow       : 0 1px 1px rgba(255, 255, 255, 0.75);
}

/* =Tabs. Icons.
 -------------------------------------------------------------- */
.cf-tabs ul > li i {
	margin-right : 0.6em;
	opacity      : 0.5;
}

.cf-tabs ul > li.active i, .cf-tabs ul > li a:hover i {
	opacity : 1;
}

/* =Pills.
 -------------------------------------------------------------- */
.cf-pills .box-header {
	padding-top    : 0.3em;
	padding-bottom : 0.3em;
}

.cf-pills .box-header > ul {
	margin-bottom : 0;
}

/* =Pills. Icons.
 -------------------------------------------------------------- */
.cf-pills ul > li i {
	margin-right : 0.6em;
	opacity      : 0.5;
}

.cf-pills ul > li.active i, .cf-pills ul > li a:hover i {
	opacity : 1;
}

/* =Accordions.
 -------------------------------------------------------------- */
.accordion .accordion-heading > a {
	background-image        : linear-gradient(to bottom, #ffffff, #f2f2f2);
	border-top-right-radius : 3px;
	border-top-left-radius  : 3px;
}

/* =Accordions. Icons.
 -------------------------------------------------------------- */
.accordion .accordion-heading > a i {
	margin-right : 0.6em;
	opacity      : 0.5;
}

.accordion .accordion-heading > .accordion-unfolded i, .accordion .accordion-heading > a:hover i {
	opacity : 1 !important;
}

/* =Forms. Horizontal.
 -------------------------------------------------------------- */
form {
	background-color : white;
}

form legend {
	background-image        : linear-gradient(to bottom, #ffffff, #f2f2f2);
	border                  : 1px solid #dddddd;
	border-top-left-radius  : 4px;
	border-top-right-radius : 4px;
	font-size               : 14px !important;
	line-height             : 1.4 !important;
	margin                  : 0;
	padding                 : 0.6em 1.4em;
	width                   : auto;
}

form .row-fluid {
	background-color : white;
	border-left      : 1px solid #dddddd;
	border-right     : 1px solid #dddddd;
	border-bottom    : 1px dotted #dddddd !important;
	width            : auto;
}

form .row-fluid:hover {
	background-color : #f6f6f6;
}

form .row-fluid:last-child {
	border-bottom-style        : solid !important;
	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;
}

form .row-fluid .form-control-label {
	margin     : 0;
	padding    : 1.5em 1.4em;
	text-align : left;
}

form.form-horizontal .row-fluid .form-control-label label {
	font-weight : bold;
	color       : #545454;
}

form.form-horizontal .row-fluid .form-controls {
	border-left : 1px dotted #dddddd;
	padding     : 1.3em 1em;
	text-align  : left;
}

.cf-double-box {
	background-color : #8eb8be;
	border           : 1px solid #dddddd;
	border-radius    : 4px;
	padding          : 0.5em;
}

.cf-double-box fieldset + fieldset {
	margin-top : 0.5em;
}

form label .description, form .form-controls .description {
	font-style : normal;
	font-size  : 1em;
}

/* =Forms. Default: Vertical.
 -------------------------------------------------------------- */
form.form-vertical .row-fluid .form-control-label {
	padding : 1em 1.1em 0.3em;
}

form.form-vertical .row-fluid .form-controls {
	margin-left : 0;
	padding     : 0 1em;
}

form.form-vertical .row-fluid .form-controls .help-inline {
	margin-top     : 0.4em;
	vertical-align : top;
}

/* =Icons.
 -------------------------------------------------------------- */
.icon-custom-positive {
	background      : url("../images/icons/check.png") transparent 0 0 no-repeat;
	background-size : 100% auto;
	display         : inline-block;
	height          : 14px;
	line-height     : 14px;
	vertical-align  : text-top;
	width           : 14px;
}

.icon-custom-negative {
	background      : url("../images/icons/cross.png") transparent 0 0 no-repeat;
	background-size : 100% auto;
	display         : inline-block;
	height          : 13px;
	line-height     : 14px;
	vertical-align  : text-top;
	width           : 13px;
}

/* =Forms.
 -------------------------------------------------------------- */
form .form-actions {
	border-top       : 1px solid #dc9a00 !important;
	background-color : #f7f0b1;
	border-top       : 0 none;
	margin-top       : 0;
	padding          : 0 !important;
}

form .form-actions:hover {
	background-color : #f7ee9d;
}

/* =Forms. Icons.
 -------------------------------------------------------------- */
form .form-control-label label i {
	margin-right : 0.7em;
}

/* =Forms. Input styling.
 -------------------------------------------------------------- */
form .row-fluid.warning label,
form .row-fluid.warning .description {
	color : #c09853 !important;
}

form .row-fluid.warning input,
form .row-fluid.warning textarea,
form .row-fluid.warning select {
	border-color : #c09853;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form .row-fluid.warning input:focus,
form .row-fluid.warning textarea:focus,
form .row-fluid.warning select:focus {
	border-color : #a47e3c;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #dbc59e;
}

form .row-fluid.error label,
form .row-fluid.error .description {
	color : #b94a48 !important;
}

form .row-fluid.error input,
form .row-fluid.error textarea,
form .row-fluid.error select {
	border-color : #b94a48;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form .row-fluid.error input:focus,
form .row-fluid.error textarea:focus,
form .row-fluid.error select:focus {
	border-color : #953b39;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #d59392;
}

form .row-fluid.info label,
form .row-fluid.info .description {
	color : #3a87ad !important;
}

form .row-fluid.info input,
form .row-fluid.info textarea,
form .row-fluid.info select {
	border-color : #3a87ad;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form .row-fluid.info input:focus,
form .row-fluid.info textarea:focus,
form .row-fluid.info select:focus {
	border-color : #2d6987;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ab5d3;
}

form .row-fluid.success label,
form .row-fluid.success .description {
	color : #468847 !important;
}

form .row-fluid.success input,
form .row-fluid.success textarea,
form .row-fluid.success select {
	border-color : #468847;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form .row-fluid.success input:focus,
form .row-fluid.success textarea:focus,
form .row-fluid.success select:focus {
	border-color : #356635;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7aba7b;
}

form .radio, form .checkbox {
	padding-left : 0;
}

form  input[type="radio"], form input[type="checkbox"] {
	margin-left  : 0 !important;
	margin-right : 0.5em;
	margin-top   : 0.23em;
}

/*TODO: fix the on hover background position issue with uniform radios */