extends ../../layouts/layout

block styles
	link(rel="stylesheet",href="/js/vendor/fullcalendar/fullcalendar.css",media="screen")
	link(rel="stylesheet",href="/js/vendor/fullcalendar/fullcalendar.print.css",media="print")

block sidebar
	include ../layouts/sidebar

block content
	h2.border-bottom-double Page Title
		br
		span.description Page description goes here.

	.row-fluid
		.span12
			.calendar


block scripts
	script(src="/js/vendor/jquery-ui/js/jquery.ui.core.min.js")
	script(src="/js/vendor/jquery-ui/js/jquery.ui.widget.min.js")
	script(src="/js/vendor/jquery-ui/js/jquery.ui.mouse.min.js")
	script(src="/js/vendor/jquery-ui/js/jquery.ui.draggable.min.js")
	script(src="/js/vendor/jquery-ui/js/jquery.ui.resizable.min.js")

	script(src="/js/vendor/fullcalendar/fullcalendar.min.js")
	script(src="/js/calendar.js")