ul.famfam-icons
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/accept.png")
		| accept
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/add.png")
		| add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/anchor.png")
		| anchor
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application.png")
		| application
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_add.png")
		| application_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_cascade.png")
		| application_cascade
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_delete.png")
		| application_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_double.png")
		| application_double
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_edit.png")
		| application_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_error.png")
		| application_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_form_add.png")
		| application_form_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_form.png")
		| application_form
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_form_delete.png")
		| application_form_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_form_edit.png")
		| application_form_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_form_magnify.png")
		| application_form_magnify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_get.png")
		| application_get
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_go.png")
		| application_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_home.png")
		| application_home
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_lightning.png")
		| application_lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_key.png")
		| application_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_link.png")
		| application_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_osx.png")
		| application_osx
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_osx_terminal.png")
		| application_osx_terminal
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_put.png")
		| application_put
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_side_boxes.png")
		| application_side_boxes
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_side_contract.png")
		| application_side_contract
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_side_expand.png")
		| application_side_expand
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_side_list.png")
		| application_side_list
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_side_tree.png")
		| application_side_tree
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_split.png")
		| application_split
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_tile_horizontal.png")
		| application_tile_horizontal
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_tile_vertical.png")
		| application_tile_vertical
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_view_detail.png")
		| application_view_detail
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_view_gallery.png")
		| application_view_gallery
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_view_columns.png")
		| application_view_columns
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_view_icons.png")
		| application_view_icons
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_view_list.png")
		| application_view_list
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_view_tile.png")
		| application_view_tile
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_xp.png")
		| application_xp
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/application_xp_terminal.png")
		| application_xp_terminal
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_branch.png")
		| arrow_branch
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_divide.png")
		| arrow_divide
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_down.png")
		| arrow_down
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_in.png")
		| arrow_in
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_inout.png")
		| arrow_inout
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_join.png")
		| arrow_join
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_left.png")
		| arrow_left
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_merge.png")
		| arrow_merge
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_redo.png")
		| arrow_redo
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_out.png")
		| arrow_out
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_refresh.png")
		| arrow_refresh
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_refresh_small.png")
		| arrow_refresh_small
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_right.png")
		| arrow_right
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_rotate_anticlockwise.png")
		| arrow_rotate_anticlockwise
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_rotate_clockwise.png")
		| arrow_rotate_clockwise
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_switch.png")
		| arrow_switch
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_turn_left.png")
		| arrow_turn_left
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_turn_right.png")
		| arrow_turn_right
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_undo.png")
		| arrow_undo
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/arrow_up.png")
		| arrow_up
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/asterisk_orange.png")
		| asterisk_orange
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/asterisk_yellow.png")
		| asterisk_yellow
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/attach.png")
		| attach
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_add.png")
		| award_star_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_bronze_1.png")
		| award_star_bronze_1
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_bronze_2.png")
		| award_star_bronze_2
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_bronze_3.png")
		| award_star_bronze_3
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_delete.png")
		| award_star_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_gold_1.png")
		| award_star_gold_1
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_gold_2.png")
		| award_star_gold_2
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_gold_3.png")
		| award_star_gold_3
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_silver_1.png")
		| award_star_silver_1
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_silver_2.png")
		| award_star_silver_2
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/award_star_silver_3.png")
		| award_star_silver_3
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/basket.png")
		| basket
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/basket_add.png")
		| basket_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/basket_delete.png")
		| basket_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/basket_edit.png")
		| basket_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/basket_error.png")
		| basket_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/basket_go.png")
		| basket_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/basket_put.png")
		| basket_put
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/basket_remove.png")
		| basket_remove
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bell.png")
		| bell
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bell_add.png")
		| bell_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bell_delete.png")
		| bell_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bell_error.png")
		| bell_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bell_go.png")
		| bell_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bell_link.png")
		| bell_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bin.png")
		| bin
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bin_closed.png")
		| bin_closed
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bin_empty.png")
		| bin_empty
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bomb.png")
		| bomb
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book.png")
		| book
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_add.png")
		| book_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_addresses.png")
		| book_addresses
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_delete.png")
		| book_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_edit.png")
		| book_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_error.png")
		| book_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_go.png")
		| book_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_key.png")
		| book_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_link.png")
		| book_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_next.png")
		| book_next
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_open.png")
		| book_open
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/book_previous.png")
		| book_previous
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/box.png")
		| box
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/brick.png")
		| brick
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/brick_add.png")
		| brick_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/brick_delete.png")
		| brick_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/brick_edit.png")
		| brick_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/brick_error.png")
		| brick_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/brick_go.png")
		| brick_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/brick_link.png")
		| brick_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bricks.png")
		| bricks
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/briefcase.png")
		| briefcase
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bug.png")
		| bug
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bug_add.png")
		| bug_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bug_delete.png")
		| bug_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bug_edit.png")
		| bug_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bug_error.png")
		| bug_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bug_go.png")
		| bug_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bug_link.png")
		| bug_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/building.png")
		| building
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/building_add.png")
		| building_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/building_delete.png")
		| building_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/building_edit.png")
		| building_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/building_error.png")
		| building_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/building_go.png")
		| building_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/building_key.png")
		| building_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/building_link.png")
		| building_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_add.png")
		| bullet_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_arrow_bottom.png")
		| bullet_arrow_bottom
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_arrow_down.png")
		| bullet_arrow_down
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_arrow_top.png")
		| bullet_arrow_top
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_arrow_up.png")
		| bullet_arrow_up
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_black.png")
		| bullet_black
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_blue.png")
		| bullet_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_delete.png")
		| bullet_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_disk.png")
		| bullet_disk
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_error.png")
		| bullet_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_feed.png")
		| bullet_feed
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_go.png")
		| bullet_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_green.png")
		| bullet_green
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_key.png")
		| bullet_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_orange.png")
		| bullet_orange
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_picture.png")
		| bullet_picture
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_pink.png")
		| bullet_pink
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_purple.png")
		| bullet_purple
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_red.png")
		| bullet_red
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_star.png")
		| bullet_star
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_toggle_minus.png")
		| bullet_toggle_minus
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_toggle_plus.png")
		| bullet_toggle_plus
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_white.png")
		| bullet_white
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_wrench.png")
		| bullet_wrench
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/bullet_yellow.png")
		| bullet_yellow
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cake.png")
		| cake
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calculator.png")
		| calculator
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calculator_add.png")
		| calculator_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calculator_delete.png")
		| calculator_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calculator_edit.png")
		| calculator_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calculator_error.png")
		| calculator_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calculator_link.png")
		| calculator_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calendar.png")
		| calendar
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calendar_add.png")
		| calendar_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calendar_delete.png")
		| calendar_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calendar_edit.png")
		| calendar_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calendar_link.png")
		| calendar_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calendar_view_day.png")
		| calendar_view_day
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calendar_view_month.png")
		| calendar_view_month
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/calendar_view_week.png")
		| calendar_view_week
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/camera.png")
		| camera
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/camera_add.png")
		| camera_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/camera_delete.png")
		| camera_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/camera_edit.png")
		| camera_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/camera_error.png")
		| camera_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/camera_go.png")
		| camera_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/camera_link.png")
		| camera_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/camera_small.png")
		| camera_small
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cancel.png")
		| cancel
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/car.png")
		| car
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/car_add.png")
		| car_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/car_delete.png")
		| car_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cart.png")
		| cart
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cart_add.png")
		| cart_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cart_delete.png")
		| cart_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cart_edit.png")
		| cart_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cart_error.png")
		| cart_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cart_go.png")
		| cart_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cart_put.png")
		| cart_put
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cart_remove.png")
		| cart_remove
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cd.png")
		| cd
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cd_add.png")
		| cd_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cd_burn.png")
		| cd_burn
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cd_delete.png")
		| cd_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cd_edit.png")
		| cd_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cd_eject.png")
		| cd_eject
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cd_go.png")
		| cd_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_bar.png")
		| chart_bar
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_bar_add.png")
		| chart_bar_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_bar_delete.png")
		| chart_bar_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_bar_edit.png")
		| chart_bar_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_bar_error.png")
		| chart_bar_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_bar_link.png")
		| chart_bar_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_curve.png")
		| chart_curve
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_curve_add.png")
		| chart_curve_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_curve_delete.png")
		| chart_curve_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_curve_edit.png")
		| chart_curve_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_curve_error.png")
		| chart_curve_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_curve_go.png")
		| chart_curve_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_curve_link.png")
		| chart_curve_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_line.png")
		| chart_line
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_line_add.png")
		| chart_line_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_line_delete.png")
		| chart_line_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_line_edit.png")
		| chart_line_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_line_error.png")
		| chart_line_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_line_link.png")
		| chart_line_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_organisation.png")
		| chart_organisation
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_organisation_add.png")
		| chart_organisation_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_organisation_delete.png")
		| chart_organisation_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_pie.png")
		| chart_pie
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_pie_add.png")
		| chart_pie_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_pie_delete.png")
		| chart_pie_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_pie_edit.png")
		| chart_pie_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_pie_error.png")
		| chart_pie_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/chart_pie_link.png")
		| chart_pie_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock.png")
		| clock
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_add.png")
		| clock_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_delete.png")
		| clock_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_edit.png")
		| clock_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_error.png")
		| clock_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_go.png")
		| clock_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_link.png")
		| clock_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_pause.png")
		| clock_pause
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_play.png")
		| clock_play
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_red.png")
		| clock_red
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/clock_stop.png")
		| clock_stop
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cog.png")
		| cog
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cog_add.png")
		| cog_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cog_delete.png")
		| cog_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cog_edit.png")
		| cog_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cog_error.png")
		| cog_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cog_go.png")
		| cog_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/coins.png")
		| coins
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/coins_add.png")
		| coins_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/coins_delete.png")
		| coins_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/color_swatch.png")
		| color_swatch
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/color_wheel.png")
		| color_wheel
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/comment.png")
		| comment
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/comment_add.png")
		| comment_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/comment_delete.png")
		| comment_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/comment_edit.png")
		| comment_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/comments.png")
		| comments
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/comments_add.png")
		| comments_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/comments_delete.png")
		| comments_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/compress.png")
		| compress
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/computer.png")
		| computer
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/computer_add.png")
		| computer_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/computer_delete.png")
		| computer_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/computer_edit.png")
		| computer_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/computer_error.png")
		| computer_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/computer_go.png")
		| computer_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/computer_key.png")
		| computer_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/computer_link.png")
		| computer_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/connect.png")
		| connect
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/contrast.png")
		| contrast
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/contrast_decrease.png")
		| contrast_decrease
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/contrast_high.png")
		| contrast_high
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/contrast_increase.png")
		| contrast_increase
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/contrast_low.png")
		| contrast_low
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_eject.png")
		| control_eject
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_eject_blue.png")
		| control_eject_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_end.png")
		| control_end
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_end_blue.png")
		| control_end_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_equalizer.png")
		| control_equalizer
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_equalizer_blue.png")
		| control_equalizer_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_fastforward.png")
		| control_fastforward
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_fastforward_blue.png")
		| control_fastforward_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_pause.png")
		| control_pause
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_pause_blue.png")
		| control_pause_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_play.png")
		| control_play
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_play_blue.png")
		| control_play_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_repeat.png")
		| control_repeat
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_repeat_blue.png")
		| control_repeat_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_rewind.png")
		| control_rewind
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_rewind_blue.png")
		| control_rewind_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_start.png")
		| control_start
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_start_blue.png")
		| control_start_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_stop.png")
		| control_stop
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/control_stop_blue.png")
		| control_stop_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/controller.png")
		| controller
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/controller_add.png")
		| controller_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/controller_delete.png")
		| controller_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/controller_error.png")
		| controller_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/creditcards.png")
		| creditcards
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cross.png")
		| cross
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/css.png")
		| css
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/css_add.png")
		| css_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/css_delete.png")
		| css_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/css_go.png")
		| css_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/css_valid.png")
		| css_valid
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cup.png")
		| cup
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cup_add.png")
		| cup_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cup_delete.png")
		| cup_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cup_edit.png")
		| cup_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cup_error.png")
		| cup_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cup_go.png")
		| cup_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cup_key.png")
		| cup_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cup_link.png")
		| cup_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cursor.png")
		| cursor
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cut.png")
		| cut
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/cut_red.png")
		| cut_red
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database.png")
		| database
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_add.png")
		| database_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_connect.png")
		| database_connect
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_delete.png")
		| database_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_edit.png")
		| database_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_error.png")
		| database_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_gear.png")
		| database_gear
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_go.png")
		| database_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_key.png")
		| database_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_lightning.png")
		| database_lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_link.png")
		| database_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_refresh.png")
		| database_refresh
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_save.png")
		| database_save
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/database_table.png")
		| database_table
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date.png")
		| date
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date_add.png")
		| date_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date_delete.png")
		| date_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date_edit.png")
		| date_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date_error.png")
		| date_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date_go.png")
		| date_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date_link.png")
		| date_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date_magnify.png")
		| date_magnify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date_next.png")
		| date_next
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/date_previous.png")
		| date_previous
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/delete.png")
		| delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/disconnect.png")
		| disconnect
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/disk.png")
		| disk
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/disk_multiple.png")
		| disk_multiple
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/door.png")
		| door
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/door_in.png")
		| door_in
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/door_open.png")
		| door_open
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/door_out.png")
		| door_out
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drink.png")
		| drink
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drink_empty.png")
		| drink_empty
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive.png")
		| drive
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_add.png")
		| drive_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_burn.png")
		| drive_burn
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_cd.png")
		| drive_cd
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_cd_empty.png")
		| drive_cd_empty
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_delete.png")
		| drive_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_disk.png")
		| drive_disk
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_edit.png")
		| drive_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_error.png")
		| drive_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_go.png")
		| drive_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_key.png")
		| drive_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_link.png")
		| drive_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_magnify.png")
		| drive_magnify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_network.png")
		| drive_network
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_rename.png")
		| drive_rename
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_user.png")
		| drive_user
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/drive_web.png")
		| drive_web
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/dvd.png")
		| dvd
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/dvd_add.png")
		| dvd_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/dvd_delete.png")
		| dvd_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/dvd_edit.png")
		| dvd_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/dvd_error.png")
		| dvd_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/dvd_go.png")
		| dvd_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/dvd_key.png")
		| dvd_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/dvd_link.png")
		| dvd_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email.png")
		| email
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email_add.png")
		| email_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email_attach.png")
		| email_attach
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email_delete.png")
		| email_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email_edit.png")
		| email_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email_error.png")
		| email_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email_go.png")
		| email_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email_link.png")
		| email_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email_open.png")
		| email_open
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/email_open_image.png")
		| email_open_image
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/emoticon_evilgrin.png")
		| emoticon_evilgrin
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/emoticon_grin.png")
		| emoticon_grin
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/emoticon_happy.png")
		| emoticon_happy
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/emoticon_smile.png")
		| emoticon_smile
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/emoticon_surprised.png")
		| emoticon_surprised
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/emoticon_tongue.png")
		| emoticon_tongue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/emoticon_unhappy.png")
		| emoticon_unhappy
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/emoticon_waii.png")
		| emoticon_waii
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/emoticon_wink.png")
		| emoticon_wink
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/error.png")
		| error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/error_add.png")
		| error_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/error_delete.png")
		| error_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/error_go.png")
		| error_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/exclamation.png")
		| exclamation
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/eye.png")
		| eye
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed.png")
		| feed
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed_add.png")
		| feed_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed_delete.png")
		| feed_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed_disk.png")
		| feed_disk
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed_edit.png")
		| feed_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed_error.png")
		| feed_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed_go.png")
		| feed_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed_key.png")
		| feed_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed_link.png")
		| feed_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/feed_magnify.png")
		| feed_magnify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/female.png")
		| female
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/film.png")
		| film
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/film_add.png")
		| film_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/film_delete.png")
		| film_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/film_edit.png")
		| film_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/film_error.png")
		| film_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/film_go.png")
		| film_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/film_key.png")
		| film_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/film_link.png")
		| film_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/film_save.png")
		| film_save
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/find.png")
		| find
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/flag_blue.png")
		| flag_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/flag_green.png")
		| flag_green
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/flag_orange.png")
		| flag_orange
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/flag_pink.png")
		| flag_pink
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/flag_purple.png")
		| flag_purple
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/flag_red.png")
		| flag_red
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/flag_yellow.png")
		| flag_yellow
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder.png")
		| folder
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_add.png")
		| folder_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_bell.png")
		| folder_bell
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_brick.png")
		| folder_brick
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_bug.png")
		| folder_bug
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_camera.png")
		| folder_camera
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_database.png")
		| folder_database
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_delete.png")
		| folder_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_edit.png")
		| folder_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_error.png")
		| folder_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_explore.png")
		| folder_explore
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_feed.png")
		| folder_feed
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_find.png")
		| folder_find
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_go.png")
		| folder_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_heart.png")
		| folder_heart
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_image.png")
		| folder_image
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_key.png")
		| folder_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_lightbulb.png")
		| folder_lightbulb
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_link.png")
		| folder_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_magnify.png")
		| folder_magnify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_page.png")
		| folder_page
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_page_white.png")
		| folder_page_white
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_palette.png")
		| folder_palette
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_picture.png")
		| folder_picture
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_star.png")
		| folder_star
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_table.png")
		| folder_table
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_user.png")
		| folder_user
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/folder_wrench.png")
		| folder_wrench
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/font.png")
		| font
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/font_add.png")
		| font_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/font_delete.png")
		| font_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/font_go.png")
		| font_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/group.png")
		| group
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/group_add.png")
		| group_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/group_delete.png")
		| group_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/group_edit.png")
		| group_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/group_error.png")
		| group_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/group_gear.png")
		| group_gear
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/group_go.png")
		| group_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/group_key.png")
		| group_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/group_link.png")
		| group_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/heart.png")
		| heart
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/heart_add.png")
		| heart_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/heart_delete.png")
		| heart_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/help.png")
		| help
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/hourglass.png")
		| hourglass
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/hourglass_add.png")
		| hourglass_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/hourglass_delete.png")
		| hourglass_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/hourglass_go.png")
		| hourglass_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/hourglass_link.png")
		| hourglass_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/house.png")
		| house
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/house_go.png")
		| house_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/house_link.png")
		| house_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/html.png")
		| html
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/html_add.png")
		| html_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/html_delete.png")
		| html_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/html_go.png")
		| html_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/html_valid.png")
		| html_valid
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/image.png")
		| image
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/image_add.png")
		| image_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/image_delete.png")
		| image_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/image_edit.png")
		| image_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/image_link.png")
		| image_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/images.png")
		| images
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/information.png")
		| information
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ipod.png")
		| ipod
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ipod_cast.png")
		| ipod_cast
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ipod_cast_add.png")
		| ipod_cast_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ipod_cast_delete.png")
		| ipod_cast_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ipod_sound.png")
		| ipod_sound
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/joystick.png")
		| joystick
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/joystick_add.png")
		| joystick_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/joystick_delete.png")
		| joystick_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/joystick_error.png")
		| joystick_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/key.png")
		| key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/key_add.png")
		| key_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/key_delete.png")
		| key_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/key_go.png")
		| key_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/keyboard.png")
		| keyboard
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/keyboard_add.png")
		| keyboard_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/keyboard_delete.png")
		| keyboard_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/keyboard_magnify.png")
		| keyboard_magnify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layers.png")
		| layers
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layout.png")
		| layout
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layout_add.png")
		| layout_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layout_content.png")
		| layout_content
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layout_delete.png")
		| layout_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layout_edit.png")
		| layout_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layout_error.png")
		| layout_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layout_header.png")
		| layout_header
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layout_link.png")
		| layout_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/layout_sidebar.png")
		| layout_sidebar
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lightbulb.png")
		| lightbulb
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lightbulb_add.png")
		| lightbulb_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lightbulb_delete.png")
		| lightbulb_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lightbulb_off.png")
		| lightbulb_off
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lightning.png")
		| lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lightning_add.png")
		| lightning_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lightning_delete.png")
		| lightning_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lightning_go.png")
		| lightning_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/link.png")
		| link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/link_add.png")
		| link_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/link_break.png")
		| link_break
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/link_delete.png")
		| link_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/link_edit.png")
		| link_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/link_error.png")
		| link_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/link_go.png")
		| link_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lock.png")
		| lock
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lock_add.png")
		| lock_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lock_break.png")
		| lock_break
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lock_delete.png")
		| lock_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lock_edit.png")
		| lock_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lock_go.png")
		| lock_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lock_open.png")
		| lock_open
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lorry.png")
		| lorry
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lorry_add.png")
		| lorry_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lorry_delete.png")
		| lorry_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lorry_error.png")
		| lorry_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lorry_flatbed.png")
		| lorry_flatbed
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lorry_go.png")
		| lorry_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/lorry_link.png")
		| lorry_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/magifier_zoom_out.png")
		| magifier_zoom_out
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/magnifier.png")
		| magnifier
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/magnifier_zoom_in.png")
		| magnifier_zoom_in
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/male.png")
		| male
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/map.png")
		| map
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/map_add.png")
		| map_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/map_delete.png")
		| map_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/map_edit.png")
		| map_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/map_go.png")
		| map_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/map_magnify.png")
		| map_magnify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_bronze_1.png")
		| medal_bronze_1
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_bronze_2.png")
		| medal_bronze_2
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_bronze_3.png")
		| medal_bronze_3
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_bronze_add.png")
		| medal_bronze_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_bronze_delete.png")
		| medal_bronze_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_gold_1.png")
		| medal_gold_1
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_gold_2.png")
		| medal_gold_2
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_gold_3.png")
		| medal_gold_3
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_gold_add.png")
		| medal_gold_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_gold_delete.png")
		| medal_gold_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_silver_1.png")
		| medal_silver_1
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_silver_2.png")
		| medal_silver_2
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_silver_3.png")
		| medal_silver_3
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_silver_add.png")
		| medal_silver_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/medal_silver_delete.png")
		| medal_silver_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/money.png")
		| money
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/money_add.png")
		| money_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/money_delete.png")
		| money_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/money_dollar.png")
		| money_dollar
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/money_euro.png")
		| money_euro
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/money_pound.png")
		| money_pound
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/money_yen.png")
		| money_yen
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/monitor.png")
		| monitor
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/monitor_add.png")
		| monitor_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/monitor_delete.png")
		| monitor_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/monitor_edit.png")
		| monitor_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/monitor_error.png")
		| monitor_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/monitor_go.png")
		| monitor_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/monitor_lightning.png")
		| monitor_lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/monitor_link.png")
		| monitor_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/mouse.png")
		| mouse
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/mouse_add.png")
		| mouse_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/mouse_delete.png")
		| mouse_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/mouse_error.png")
		| mouse_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/music.png")
		| music
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/new.png")
		| new
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/newspaper.png")
		| newspaper
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/newspaper_add.png")
		| newspaper_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/newspaper_delete.png")
		| newspaper_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/newspaper_go.png")
		| newspaper_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/newspaper_link.png")
		| newspaper_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/note.png")
		| note
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/note_add.png")
		| note_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/note_delete.png")
		| note_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/note_edit.png")
		| note_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/note_error.png")
		| note_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/note_go.png")
		| note_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/overlays.png")
		| overlays
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/package.png")
		| package
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/package_delete.png")
		| package_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/package_add.png")
		| package_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/package_go.png")
		| package_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/package_green.png")
		| package_green
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/package_link.png")
		| package_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page.png")
		| page
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_add.png")
		| page_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_attach.png")
		| page_attach
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_code.png")
		| page_code
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_copy.png")
		| page_copy
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_delete.png")
		| page_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_edit.png")
		| page_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_error.png")
		| page_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_excel.png")
		| page_excel
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_find.png")
		| page_find
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_gear.png")
		| page_gear
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_go.png")
		| page_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_green.png")
		| page_green
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_key.png")
		| page_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_lightning.png")
		| page_lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_link.png")
		| page_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_paintbrush.png")
		| page_paintbrush
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_paste.png")
		| page_paste
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_red.png")
		| page_red
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_refresh.png")
		| page_refresh
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_save.png")
		| page_save
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white.png")
		| page_white
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_acrobat.png")
		| page_white_acrobat
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_actionscript.png")
		| page_white_actionscript
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_add.png")
		| page_white_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_c.png")
		| page_white_c
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_camera.png")
		| page_white_camera
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_cd.png")
		| page_white_cd
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_code.png")
		| page_white_code
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_code_red.png")
		| page_white_code_red
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_coldfusion.png")
		| page_white_coldfusion
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_compressed.png")
		| page_white_compressed
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_copy.png")
		| page_white_copy
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_cplusplus.png")
		| page_white_cplusplus
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_csharp.png")
		| page_white_csharp
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_cup.png")
		| page_white_cup
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_database.png")
		| page_white_database
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_delete.png")
		| page_white_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_dvd.png")
		| page_white_dvd
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_edit.png")
		| page_white_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_error.png")
		| page_white_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_excel.png")
		| page_white_excel
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_find.png")
		| page_white_find
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_flash.png")
		| page_white_flash
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_freehand.png")
		| page_white_freehand
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_gear.png")
		| page_white_gear
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_get.png")
		| page_white_get
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_go.png")
		| page_white_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_h.png")
		| page_white_h
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_horizontal.png")
		| page_white_horizontal
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_key.png")
		| page_white_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_lightning.png")
		| page_white_lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_link.png")
		| page_white_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_magnify.png")
		| page_white_magnify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_medal.png")
		| page_white_medal
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_office.png")
		| page_white_office
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_paint.png")
		| page_white_paint
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_paintbrush.png")
		| page_white_paintbrush
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_paste.png")
		| page_white_paste
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_php.png")
		| page_white_php
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_picture.png")
		| page_white_picture
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_powerpoint.png")
		| page_white_powerpoint
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_put.png")
		| page_white_put
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_ruby.png")
		| page_white_ruby
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_stack.png")
		| page_white_stack
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_star.png")
		| page_white_star
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_swoosh.png")
		| page_white_swoosh
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_text.png")
		| page_white_text
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_text_width.png")
		| page_white_text_width
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_tux.png")
		| page_white_tux
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_vector.png")
		| page_white_vector
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_visualstudio.png")
		| page_white_visualstudio
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_width.png")
		| page_white_width
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_word.png")
		| page_white_word
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_world.png")
		| page_white_world
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_wrench.png")
		| page_white_wrench
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_white_zip.png")
		| page_white_zip
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_word.png")
		| page_word
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/page_world.png")
		| page_world
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/paintbrush.png")
		| paintbrush
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/paintcan.png")
		| paintcan
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/palette.png")
		| palette
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/paste_plain.png")
		| paste_plain
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/paste_word.png")
		| paste_word
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pencil.png")
		| pencil
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pencil_add.png")
		| pencil_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pencil_delete.png")
		| pencil_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pencil_go.png")
		| pencil_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/phone.png")
		| phone
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/phone_add.png")
		| phone_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/phone_delete.png")
		| phone_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/phone_sound.png")
		| phone_sound
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/photo.png")
		| photo
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/photo_add.png")
		| photo_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/photo_delete.png")
		| photo_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/photo_link.png")
		| photo_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/photos.png")
		| photos
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture.png")
		| picture
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture_add.png")
		| picture_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture_delete.png")
		| picture_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture_edit.png")
		| picture_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture_empty.png")
		| picture_empty
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture_error.png")
		| picture_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture_go.png")
		| picture_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture_link.png")
		| picture_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture_save.png")
		| picture_save
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pictures.png")
		| pictures
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pilcrow.png")
		| pilcrow
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pill.png")
		| pill
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pill_add.png")
		| pill_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/picture_key.png")
		| picture_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pill_delete.png")
		| pill_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/pill_go.png")
		| pill_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/plugin_add.png")
		| plugin_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/plugin_delete.png")
		| plugin_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/plugin_disabled.png")
		| plugin_disabled
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/plugin_error.png")
		| plugin_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/plugin.png")
		| plugin
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/plugin_edit.png")
		| plugin_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/plugin_go.png")
		| plugin_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/plugin_link.png")
		| plugin_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/printer.png")
		| printer
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/printer_add.png")
		| printer_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/printer_delete.png")
		| printer_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/printer_empty.png")
		| printer_empty
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/printer_error.png")
		| printer_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/rainbow.png")
		| rainbow
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report.png")
		| report
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_add.png")
		| report_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_delete.png")
		| report_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_disk.png")
		| report_disk
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_edit.png")
		| report_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_go.png")
		| report_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_key.png")
		| report_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_link.png")
		| report_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_magnify.png")
		| report_magnify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_picture.png")
		| report_picture
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_user.png")
		| report_user
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/report_word.png")
		| report_word
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/resultset_first.png")
		| resultset_first
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/resultset_last.png")
		| resultset_last
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/resultset_previous.png")
		| resultset_previous
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/rosette.png")
		| rosette
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/rss.png")
		| rss
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/resultset_next.png")
		| resultset_next
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/rss_add.png")
		| rss_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/rss_go.png")
		| rss_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/rss_valid.png")
		| rss_valid
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ruby.png")
		| ruby
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ruby_add.png")
		| ruby_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ruby_delete.png")
		| ruby_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ruby_gear.png")
		| ruby_gear
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ruby_get.png")
		| ruby_get
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ruby_go.png")
		| ruby_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ruby_key.png")
		| ruby_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ruby_link.png")
		| ruby_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/ruby_put.png")
		| ruby_put
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script.png")
		| script
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_add.png")
		| script_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_code.png")
		| script_code
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_code_red.png")
		| script_code_red
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_delete.png")
		| script_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_edit.png")
		| script_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_error.png")
		| script_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_gear.png")
		| script_gear
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_go.png")
		| script_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_key.png")
		| script_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_lightning.png")
		| script_lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_link.png")
		| script_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/rss_delete.png")
		| rss_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_palette.png")
		| script_palette
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/script_save.png")
		| script_save
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server.png")
		| server
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_add.png")
		| server_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_chart.png")
		| server_chart
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_compressed.png")
		| server_compressed
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_connect.png")
		| server_connect
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_database.png")
		| server_database
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_delete.png")
		| server_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_edit.png")
		| server_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_error.png")
		| server_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_go.png")
		| server_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_key.png")
		| server_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_lightning.png")
		| server_lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_link.png")
		| server_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/server_uncompressed.png")
		| server_uncompressed
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shading.png")
		| shading
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_align_bottom.png")
		| shape_align_bottom
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_align_center.png")
		| shape_align_center
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_align_left.png")
		| shape_align_left
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_align_middle.png")
		| shape_align_middle
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_align_right.png")
		| shape_align_right
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_align_top.png")
		| shape_align_top
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_flip_horizontal.png")
		| shape_flip_horizontal
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_flip_vertical.png")
		| shape_flip_vertical
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_group.png")
		| shape_group
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_handles.png")
		| shape_handles
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_move_back.png")
		| shape_move_back
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_move_backwards.png")
		| shape_move_backwards
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_move_forwards.png")
		| shape_move_forwards
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_move_front.png")
		| shape_move_front
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_rotate_anticlockwise.png")
		| shape_rotate_anticlockwise
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_rotate_clockwise.png")
		| shape_rotate_clockwise
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_square.png")
		| shape_square
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_square_add.png")
		| shape_square_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_square_delete.png")
		| shape_square_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_square_edit.png")
		| shape_square_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_square_error.png")
		| shape_square_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_square_go.png")
		| shape_square_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_square_key.png")
		| shape_square_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_square_link.png")
		| shape_square_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shape_ungroup.png")
		| shape_ungroup
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shield.png")
		| shield
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shield_add.png")
		| shield_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shield_delete.png")
		| shield_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/shield_go.png")
		| shield_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sitemap.png")
		| sitemap
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sitemap_color.png")
		| sitemap_color
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sound.png")
		| sound
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sound_add.png")
		| sound_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sound_delete.png")
		| sound_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sound_low.png")
		| sound_low
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sound_mute.png")
		| sound_mute
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sound_none.png")
		| sound_none
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/spellcheck.png")
		| spellcheck
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sport_8ball.png")
		| sport_8ball
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sport_basketball.png")
		| sport_basketball
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sport_football.png")
		| sport_football
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sport_golf.png")
		| sport_golf
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sport_raquet.png")
		| sport_raquet
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sport_shuttlecock.png")
		| sport_shuttlecock
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sport_soccer.png")
		| sport_soccer
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sport_tennis.png")
		| sport_tennis
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/star.png")
		| star
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/status_away.png")
		| status_away
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/status_busy.png")
		| status_busy
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/status_offline.png")
		| status_offline
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/status_online.png")
		| status_online
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/stop.png")
		| stop
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/style.png")
		| style
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/style_add.png")
		| style_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/style_edit.png")
		| style_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/sum.png")
		| sum
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tab.png")
		| tab
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tab_add.png")
		| tab_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tab_delete.png")
		| tab_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tab_edit.png")
		| tab_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tab_go.png")
		| tab_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table.png")
		| table
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_add.png")
		| table_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_delete.png")
		| table_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_edit.png")
		| table_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_error.png")
		| table_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_gear.png")
		| table_gear
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_go.png")
		| table_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_key.png")
		| table_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_lightning.png")
		| table_lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_link.png")
		| table_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_multiple.png")
		| table_multiple
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_refresh.png")
		| table_refresh
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_relationship.png")
		| table_relationship
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_row_delete.png")
		| table_row_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_row_insert.png")
		| table_row_insert
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_save.png")
		| table_save
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/table_sort.png")
		| table_sort
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag.png")
		| tag
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_blue.png")
		| tag_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_blue_add.png")
		| tag_blue_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_blue_delete.png")
		| tag_blue_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/style_delete.png")
		| style_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/style_go.png")
		| style_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_green.png")
		| tag_green
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_orange.png")
		| tag_orange
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_pink.png")
		| tag_pink
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_purple.png")
		| tag_purple
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_red.png")
		| tag_red
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_yellow.png")
		| tag_yellow
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/telephone.png")
		| telephone
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/telephone_add.png")
		| telephone_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/telephone_delete.png")
		| telephone_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/telephone_edit.png")
		| telephone_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/telephone_error.png")
		| telephone_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/telephone_go.png")
		| telephone_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/telephone_key.png")
		| telephone_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/telephone_link.png")
		| telephone_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/television.png")
		| television
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/television_add.png")
		| television_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/television_delete.png")
		| television_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_align_center.png")
		| text_align_center
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_align_justify.png")
		| text_align_justify
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_align_left.png")
		| text_align_left
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_allcaps.png")
		| text_allcaps
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_columns.png")
		| text_columns
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_dropcaps.png")
		| text_dropcaps
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_heading_1.png")
		| text_heading_1
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_heading_2.png")
		| text_heading_2
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_heading_3.png")
		| text_heading_3
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_heading_4.png")
		| text_heading_4
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_heading_5.png")
		| text_heading_5
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_heading_6.png")
		| text_heading_6
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_horizontalrule.png")
		| text_horizontalrule
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_indent.png")
		| text_indent
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_indent_remove.png")
		| text_indent_remove
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_italic.png")
		| text_italic
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_kerning.png")
		| text_kerning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_letter_omega.png")
		| text_letter_omega
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_letterspacing.png")
		| text_letterspacing
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_linespacing.png")
		| text_linespacing
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_list_bullets.png")
		| text_list_bullets
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_list_numbers.png")
		| text_list_numbers
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_lowercase.png")
		| text_lowercase
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_padding_bottom.png")
		| text_padding_bottom
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_padding_left.png")
		| text_padding_left
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_padding_right.png")
		| text_padding_right
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_padding_top.png")
		| text_padding_top
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_replace.png")
		| text_replace
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_signature.png")
		| text_signature
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_smallcaps.png")
		| text_smallcaps
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_strikethrough.png")
		| text_strikethrough
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_subscript.png")
		| text_subscript
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_superscript.png")
		| text_superscript
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_underline.png")
		| text_underline
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_uppercase.png")
		| text_uppercase
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/textfield.png")
		| textfield
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/textfield_add.png")
		| textfield_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/textfield_delete.png")
		| textfield_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/textfield_key.png")
		| textfield_key
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/textfield_rename.png")
		| textfield_rename
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/thumb_down.png")
		| thumb_down
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/thumb_up.png")
		| thumb_up
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tick.png")
		| tick
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/time.png")
		| time
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/time_add.png")
		| time_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/time_delete.png")
		| time_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/time_go.png")
		| time_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/timeline_marker.png")
		| timeline_marker
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/transmit.png")
		| transmit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/transmit_add.png")
		| transmit_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/transmit_blue.png")
		| transmit_blue
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/transmit_delete.png")
		| transmit_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/transmit_edit.png")
		| transmit_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/transmit_error.png")
		| transmit_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/transmit_go.png")
		| transmit_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tux.png")
		| tux
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user.png")
		| user
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_add.png")
		| user_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_comment.png")
		| user_comment
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_delete.png")
		| user_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_edit.png")
		| user_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_female.png")
		| user_female
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_go.png")
		| user_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_gray.png")
		| user_gray
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_green.png")
		| user_green
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_orange.png")
		| user_orange
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_red.png")
		| user_red
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/user_suit.png")
		| user_suit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/vcard.png")
		| vcard
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/vcard_add.png")
		| vcard_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/vcard_delete.png")
		| vcard_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/vcard_edit.png")
		| vcard_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/vector.png")
		| vector
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/vector_add.png")
		| vector_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/vector_delete.png")
		| vector_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/wand.png")
		| wand
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/weather_clouds.png")
		| weather_clouds
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/weather_cloudy.png")
		| weather_cloudy
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/weather_lightning.png")
		| weather_lightning
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/weather_rain.png")
		| weather_rain
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/weather_snow.png")
		| weather_snow
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/weather_sun.png")
		| weather_sun
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/webcam.png")
		| webcam
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/webcam_add.png")
		| webcam_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/webcam_delete.png")
		| webcam_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/webcam_error.png")
		| webcam_error
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/world.png")
		| world
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/world_add.png")
		| world_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/world_delete.png")
		| world_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/world_edit.png")
		| world_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/tag_blue_edit.png")
		| tag_blue_edit
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/world_go.png")
		| world_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/world_link.png")
		| world_link
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/wrench.png")
		| wrench
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/wrench_orange.png")
		| wrench_orange
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/xhtml.png")
		| xhtml
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/xhtml_add.png")
		| xhtml_add
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_align_right.png")
		| text_align_right
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/xhtml_delete.png")
		| xhtml_delete
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/text_bold.png")
		| text_bold
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/xhtml_go.png")
		| xhtml_go
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/zoom_in.png")
		| zoom_in
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/zoom_out.png")
		| zoom_out
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/xhtml_valid.png")
		| xhtml_valid
	li
		img(src="/images/icons/famfamfam-silk-icons/icons/zoom.png")
		| zoom