.span3
	ul.the-icons
		li
			i.icon-adjust
			| icon-adjust
		li
			i.icon-asterisk
			| icon-asterisk
		li
			i.icon-ban-circle
			| icon-ban-circle
		li
			i.icon-bar-chart
			| icon-bar-chart
		li
			i.icon-barcode
			| icon-barcode
		li
			i.icon-beaker
			| icon-beaker
		li
			i.icon-beer
			| icon-beer
		li
			i.icon-bell
			| icon-bell
		li
			i.icon-bell-alt
			| icon-bell-alt
		li
			i.icon-bolt
			| icon-bolt
		li
			i.icon-book
			| icon-book
		li
			i.icon-bookmark
			| icon-bookmark
		li
			i.icon-bookmark-empty
			| icon-bookmark-empty
		li
			i.icon-briefcase
			| icon-briefcase
		li
			i.icon-bullhorn
			| icon-bullhorn
		li
			i.icon-calendar
			| icon-calendar
		li
			i.icon-camera
			| icon-camera
		li
			i.icon-camera-retro
			| icon-camera-retro
		li
			i.icon-certificate
			| icon-certificate
		li
			i.icon-check
			| icon-check
		li
			i.icon-check-empty
			| icon-check-empty
		li
			i.icon-circle
			| icon-circle
		li
			i.icon-circle-blank
			| icon-circle-blank
		li
			i.icon-cloud
			| icon-cloud
		li
			i.icon-cloud-download
			| icon-cloud-download
		li
			i.icon-cloud-upload
			| icon-cloud-upload
		li
			i.icon-coffee
			| icon-coffee
		li
			i.icon-cog
			| icon-cog
		li
			i.icon-cogs
			| icon-cogs
		li
			i.icon-comment
			| icon-comment
		li
			i.icon-comment-alt
			| icon-comment-alt
		li
			i.icon-comments
			| icon-comments
		li
			i.icon-comments-alt
			| icon-comments-alt
		li
			i.icon-credit-card
			| icon-credit-card
		li
			i.icon-dashboard
			| icon-dashboard
		li
			i.icon-desktop
			| icon-desktop
		li
			i.icon-download
			| icon-download
		li
			i.icon-download-alt
			| icon-download-alt

.span3
	ul.the-icons
		li
			i.icon-edit
			| icon-edit
		li
			i.icon-envelope
			| icon-envelope
		li
			i.icon-envelope-alt
			| icon-envelope-alt
		li
			i.icon-exchange
			| icon-exchange
		li
			i.icon-exclamation-sign
			| icon-exclamation-sign
		li
			i.icon-external-link
			| icon-external-link
		li
			i.icon-eye-close
			| icon-eye-close
		li
			i.icon-eye-open
			| icon-eye-open
		li
			i.icon-facetime-video
			| icon-facetime-video
		li
			i.icon-fighter-jet
			| icon-fighter-jet
		li
			i.icon-film
			| icon-film
		li
			i.icon-filter
			| icon-filter
		li
			i.icon-fire
			| icon-fire
		li
			i.icon-flag
			| icon-flag
		li
			i.icon-folder-close
			| icon-folder-close
		li
			i.icon-folder-open
			| icon-folder-open
		li
			i.icon-folder-close-alt
			| icon-folder-close-alt
		li
			i.icon-folder-open-alt
			| icon-folder-open-alt
		li
			i.icon-food
			| icon-food
		li
			i.icon-gift
			| icon-gift
		li
			i.icon-glass
			| icon-glass
		li
			i.icon-globe
			| icon-globe
		li
			i.icon-group
			| icon-group
		li
			i.icon-hdd
			| icon-hdd
		li
			i.icon-headphones
			| icon-headphones
		li
			i.icon-heart
			| icon-heart
		li
			i.icon-heart-empty
			| icon-heart-empty
		li
			i.icon-home
			| icon-home
		li
			i.icon-inbox
			| icon-inbox
		li
			i.icon-info-sign
			| icon-info-sign
		li
			i.icon-key
			| icon-key
		li
			i.icon-leaf
			| icon-leaf
		li
			i.icon-laptop
			| icon-laptop
		li
			i.icon-legal
			| icon-legal
		li
			i.icon-lemon
			| icon-lemon
		li
			i.icon-lightbulb
			| icon-lightbulb
		li
			i.icon-lock
			| icon-lock
		li
			i.icon-unlock
			| icon-unlock

.span3
	ul.the-icons
		li
			i.icon-magic
			| icon-magic
		li
			i.icon-magnet
			| icon-magnet
		li
			i.icon-map-marker
			| icon-map-marker
		li
			i.icon-minus
			| icon-minus
		li
			i.icon-minus-sign
			| icon-minus-sign
		li
			i.icon-mobile-phone
			| icon-mobile-phone
		li
			i.icon-money
			| icon-money
		li
			i.icon-move
			| icon-move
		li
			i.icon-music
			| icon-music
		li
			i.icon-off
			| icon-off
		li
			i.icon-ok
			| icon-ok
		li
			i.icon-ok-circle
			| icon-ok-circle
		li
			i.icon-ok-sign
			| icon-ok-sign
		li
			i.icon-pencil
			| icon-pencil
		li
			i.icon-picture
			| icon-picture
		li
			i.icon-plane
			| icon-plane
		li
			i.icon-plus
			| icon-plus
		li
			i.icon-plus-sign
			| icon-plus-sign
		li
			i.icon-print
			| icon-print
		li
			i.icon-pushpin
			| icon-pushpin
		li
			i.icon-qrcode
			| icon-qrcode
		li
			i.icon-question-sign
			| icon-question-sign
		li
			i.icon-quote-left
			| icon-quote-left
		li
			i.icon-quote-right
			| icon-quote-right
		li
			i.icon-random
			| icon-random
		li
			i.icon-refresh
			| icon-refresh
		li
			i.icon-remove
			| icon-remove
		li
			i.icon-remove-circle
			| icon-remove-circle
		li
			i.icon-remove-sign
			| icon-remove-sign
		li
			i.icon-reorder
			| icon-reorder
		li
			i.icon-reply
			| icon-reply
		li
			i.icon-resize-horizontal
			| icon-resize-horizontal
		li
			i.icon-resize-vertical
			| icon-resize-vertical
		li
			i.icon-retweet
			| icon-retweet
		li
			i.icon-road
			| icon-road
		li
			i.icon-rss
			| icon-rss
		li
			i.icon-screenshot
			| icon-screenshot
		li
			i.icon-search
			| icon-search

.span3
	ul.the-icons
		li
			i.icon-share
			| icon-share
		li
			i.icon-share-alt
			| icon-share-alt
		li
			i.icon-shopping-cart
			| icon-shopping-cart
		li
			i.icon-signal
			| icon-signal
		li
			i.icon-signin
			| icon-signin
		li
			i.icon-signout
			| icon-signout
		li
			i.icon-sitemap
			| icon-sitemap
		li
			i.icon-sort
			| icon-sort
		li
			i.icon-sort-down
			| icon-sort-down
		li
			i.icon-sort-up
			| icon-sort-up
		li
			i.icon-spinner
			| icon-spinner
		li
			i.icon-star
			| icon-star
		li
			i.icon-star-empty
			| icon-star-empty
		li
			i.icon-star-half
			| icon-star-half
		li
			i.icon-tablet
			| icon-tablet
		li
			i.icon-tag
			| icon-tag
		li
			i.icon-tags
			| icon-tags
		li
			i.icon-tasks
			| icon-tasks
		li
			i.icon-thumbs-down
			| icon-thumbs-down
		li
			i.icon-thumbs-up
			| icon-thumbs-up
		li
			i.icon-time
			| icon-time
		li
			i.icon-tint
			| icon-tint
		li
			i.icon-trash
			| icon-trash
		li
			i.icon-trophy
			| icon-trophy
		li
			i.icon-truck
			| icon-truck
		li
			i.icon-umbrella
			| icon-umbrella
		li
			i.icon-upload
			| icon-upload
		li
			i.icon-upload-alt
			| icon-upload-alt
		li
			i.icon-user
			| icon-user
		li
			i.icon-user-md
			| icon-user-md
		li
			i.icon-volume-off
			| icon-volume-off
		li
			i.icon-volume-down
			| icon-volume-down
		li
			i.icon-volume-up
			| icon-volume-up
		li
			i.icon-warning-sign
			| icon-warning-sign
		li
			i.icon-wrench
			| icon-wrench
		li
			i.icon-zoom-in
			| icon-zoom-in
		li
			i.icon-zoom-out
			| icon-zoom-out

h3.border-bottom-dotted Text Editor Icons
.row-fluid
	.span3
		ul.the-icons
			li
				i.icon-file
				| icon-file
			li
				i.icon-file-alt
				| icon-file-alt
			li
				i.icon-cut
				| icon-cut
			li
				i.icon-copy
				| icon-copy
			li
				i.icon-paste
				| icon-paste
			li
				i.icon-save
				| icon-save
			li
				i.icon-undo
				| icon-undo
			li
				i.icon-repeat
				| icon-repeat

	.span3
		ul.the-icons
			li
				i.icon-text-height
				| icon-text-height
			li
				i.icon-text-width
				| icon-text-width
			li
				i.icon-align-left
				| icon-align-left
			li
				i.icon-align-center
				| icon-align-center
			li
				i.icon-align-right
				| icon-align-right
			li
				i.icon-align-justify
				| icon-align-justify
			li
				i.icon-indent-left
				| icon-indent-left
			li
				i.icon-indent-right
				| icon-indent-right

	.span3
		ul.the-icons
			li
				i.icon-font
				| icon-font
			li
				i.icon-bold
				| icon-bold
			li
				i.icon-italic
				| icon-italic
			li
				i.icon-strikethrough
				| icon-strikethrough
			li
				i.icon-underline
			| icon-underline
			li
				i.icon-link
				| icon-link
			li
				i.icon-paper-clip
				| icon-paper-clip
			li
				i.icon-columns
				| icon-columns

	.span3
		ul.the-icons
			li
				i.icon-table
				| icon-table
			li
				i.icon-th-large
				| icon-th-large
			li
				i.icon-th
				| icon-th
			li
				i.icon-th-list
				| icon-th-list
			li
				i.icon-list
				| icon-list
			li
				i.icon-list-ol
				| icon-list-ol
			li
				i.icon-list-ul
				| icon-list-ul
			li
				i.icon-list-alt
				| icon-list-alt

h3.border-bottom-dotted Directional Icons
.row-fluid
	.span3
		ul.the-icons
			li
				i.icon-angle-left
				| icon-angle-left
			li
				i.icon-angle-right
				| icon-angle-right
			li
				i.icon-angle-up
				| icon-angle-up
			li
				i.icon-angle-down
				| icon-angle-down
			li
				i.icon-arrow-down
				| icon-arrow-down
			li
				i.icon-arrow-left
				| icon-arrow-left
			li
				i.icon-arrow-right
				| icon-arrow-right
			li
				i.icon-arrow-up
				| icon-arrow-up

	.span3
		ul.the-icons
			li
				i.icon-caret-down
				| icon-caret-down
			li
				i.icon-caret-left
				| icon-caret-left
			li
				i.icon-caret-right
				| icon-caret-right
			li
				i.icon-caret-up
				| icon-caret-up
			li
				i.icon-chevron-down
				| icon-chevron-down
			li
				i.icon-chevron-left
				| icon-chevron-left
			li
				i.icon-chevron-right
				| icon-chevron-right
			li
				i.icon-chevron-up
				| icon-chevron-up

	.span3
		ul.the-icons
			li
				i.icon-circle-arrow-down
				| icon-circle-arrow-down
			li
				i.icon-circle-arrow-left
				| icon-circle-arrow-left
			li
				i.icon-circle-arrow-right
				| icon-circle-arrow-right
			li
				i.icon-circle-arrow-up
				| icon-circle-arrow-up
			li
				i.icon-double-angle-left
				| icon-double-angle-left
			li

				i.icon-double-angle-right
				| icon-double-angle-right
			li
				i.icon-double-angle-up
				| icon-double-angle-up
			li
				i.icon-double-angle-down
				| icon-double-angle-down

	.span3
		ul.the-icons
			li
				i.icon-hand-down
				| icon-hand-down
			li
				i.icon-hand-left
				| icon-hand-left
			li
				i.icon-hand-right
				| icon-hand-right
			li
				i.icon-hand-up
				| icon-hand-up
			li
				i.icon-circle
				| icon-circle
			li
				i.icon-circle-blank
				| icon-circle-blank

h3.border-bottom-dotted Video Player Icons
.row-fluid
	.span3
		ul.the-icons
			li
				i.icon-play-circle
				| icon-play-circle
			li
				i.icon-play
				| icon-play
			li
				i.icon-pause
				| icon-pause
			li
				i.icon-stop
				| icon-stop


	.span3
		ul.the-icons
			li
				i.icon-step-backward
				| icon-step-backward
			li
				i.icon-fast-backward
				| icon-fast-backward
			li
				i.icon-backward
				| icon-backward
			li
				i.icon-forward
				| icon-forward


	.span3
		ul.the-icons
			li
				i.icon-fast-forward
				| icon-fast-forward
			li
				i.icon-step-forward
				| icon-step-forward
			li
				i.icon-eject
				| icon-eject


	.span3
		ul.the-icons
			li
				i.icon-fullscreen
				| icon-fullscreen
			li
				i.icon-resize-full
				| icon-resize-full
			li
				i.icon-resize-small
				| icon-resize-small


h3.border-bottom-dotted Social Icons
.row-fluid
	.span3
		ul.the-icons
			li
				i.icon-phone
				| icon-phone
			li
				i.icon-phone-sign
				| icon-phone-sign
			li
				i.icon-facebook
				| icon-facebook
			li
				i.icon-facebook-sign
				| icon-facebook-sign

	.span3
		ul.the-icons
			li
				i.icon-twitter
				| icon-twitter
			li
				i.icon-twitter-sign
				| icon-twitter-sign
			li
				i.icon-github
				| icon-github
			li
				i.icon-github-alt
				| icon-github-alt

	.span3
		ul.the-icons
			li
				i.icon-github-sign
				| icon-github-sign
			li
				i.icon-linkedin
				| icon-linkedin
			li
				i.icon-linkedin-sign
				| icon-linkedin-sign
			li
				i.icon-pinterest
				| icon-pinterest

	.span3
		ul.the-icons
			li
				i.icon-pinterest-sign
				| icon-pinterest-sign
			li
				i.icon-google-plus
				| icon-google-plus
			li
				i.icon-google-plus-sign
				| icon-google-plus-sign
			li
				i.icon-sign-blank
				| icon-sign-blank

	h3.border-bottom-dotted Medical Icons
	.row-fluid
		.span3
			ul.the-icons
				li
					i.icon-ambulance
					| icon-ambulance
				li
					i.icon-beaker
					| icon-beaker

		.span3
			ul.the-icons
				li
					i.icon-h-sign
					| icon-h-sign
				li
					i.icon-hospital
					| icon-hospital

		.span3
			ul.the-icons
				li
					i.icon-medkit
					| icon-medkit
				li
					i.icon-plus-sign-alt
					| icon-plus-sign-alt

		.span3
			ul.the-icons
				li
					i.icon-stethoscope
					| icon-stethoscope
				li
					i.icon-user-md
					| icon-user-md
