ul.icomoon-icons
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/IE.png")
		| IE
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/IcoMoon.png")
		| IcoMoon
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/accessibility.png")
		| accessibility
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/address-book.png")
		| address-book
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/aid.png")
		| aid
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/airplane.png")
		| airplane
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/alarm.png")
		| alarm
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/alarm2.png")
		| alarm2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/android.png")
		| android
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/angry.png")
		| angry
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/angry2.png")
		| angry2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/apple.png")
		| apple
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-down-left.png")
		| arrow-down-left
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-down-left2.png")
		| arrow-down-left2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-down-left3.png")
		| arrow-down-left3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-down-right.png")
		| arrow-down-right
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-down-right2.png")
		| arrow-down-right2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-down-right3.png")
		| arrow-down-right3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-down.png")
		| arrow-down
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-down2.png")
		| arrow-down2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-down3.png")
		| arrow-down3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-left.png")
		| arrow-left
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-left2.png")
		| arrow-left2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-left3.png")
		| arrow-left3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-right.png")
		| arrow-right
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-right2.png")
		| arrow-right2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-right3.png")
		| arrow-right3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-up-left2.png")
		| arrow-up-left2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-up-left3.png")
		| arrow-up-left3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-up-right.png")
		| arrow-up-right
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-up-left.png")
		| arrow-up-left
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-up-right2.png")
		| arrow-up-right2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-up-right3.png")
		| arrow-up-right3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-up.png")
		| arrow-up
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-up2.png")
		| arrow-up2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/backward.png")
		| backward
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/backward2.png")
		| backward2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/barcode.png")
		| barcode
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bars.png")
		| bars
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bars2.png")
		| bars2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bell.png")
		| bell
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/binoculars.png")
		| binoculars
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/blocked.png")
		| blocked
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/blog.png")
		| blog
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/blogger.png")
		| blogger
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/blogger2.png")
		| blogger2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bold.png")
		| bold
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/book.png")
		| book
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bookmark.png")
		| bookmark
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bookmarks.png")
		| bookmarks
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/books.png")
		| books
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/box-add.png")
		| box-add
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/box-remove.png")
		| box-remove
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/briefcase.png")
		| briefcase
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/brightness-contrast.png")
		| brightness-contrast
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/brightness-medium.png")
		| brightness-medium
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bubble.png")
		| bubble
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bubble2.png")
		| bubble2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bubbles.png")
		| bubbles
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bubbles2.png")
		| bubbles2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bubbles3.png")
		| bubbles3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bubbles4.png")
		| bubbles4
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bug.png")
		| bug
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/bullhorn.png")
		| bullhorn
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/busy.png")
		| busy
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cabinet.png")
		| cabinet
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/calculate.png")
		| calculate
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/calendar.png")
		| calendar
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/calendar2.png")
		| calendar2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/camera.png")
		| camera
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/camera2.png")
		| camera2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cancel-circle.png")
		| cancel-circle
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cart.png")
		| cart
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cart2.png")
		| cart2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cart3.png")
		| cart3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/checkbox-checked.png")
		| checkbox-checked
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/checkbox-partial.png")
		| checkbox-partial
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/checkbox-unchecked.png")
		| checkbox-unchecked
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/checkmark-circle.png")
		| checkmark-circle
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/checkmark.png")
		| checkmark
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/checkmark2.png")
		| checkmark2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/chrome.png")
		| chrome
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/clock.png")
		| clock
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/clock2.png")
		| clock2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/close.png")
		| close
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cloud-download.png")
		| cloud-download
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cloud-upload.png")
		| cloud-upload
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cloud.png")
		| cloud
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/clubs.png")
		| clubs
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/code.png")
		| code
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/arrow-up3.png")
		| arrow-up3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cog.png")
		| cog
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cog2.png")
		| cog2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cogs.png")
		| cogs
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/coin.png")
		| coin
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/compass.png")
		| compass
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/confused.png")
		| confused
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/confused2.png")
		| confused2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/connection.png")
		| connection
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/console.png")
		| console
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/contract.png")
		| contract
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/contract2.png")
		| contract2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/contrast.png")
		| contrast
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cool.png")
		| cool
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/cool2.png")
		| cool2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/copy.png")
		| copy
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/copy2.png")
		| copy2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/copy3.png")
		| copy3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/credit.png")
		| credit
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/crop.png")
		| crop
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/css3.png")
		| css3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/dashboard.png")
		| dashboard
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/delicious.png")
		| delicious
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/deviantart.png")
		| deviantart
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/deviantart2.png")
		| deviantart2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/diamonds.png")
		| diamonds
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/dice.png")
		| dice
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/disk.png")
		| disk
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/download.png")
		| download
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/download2.png")
		| download2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/download3.png")
		| download3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/drawer.png")
		| drawer
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/drawer2.png")
		| drawer2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/drawer3.png")
		| drawer3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/dribbble.png")
		| dribbble
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/dribbble2.png")
		| dribbble2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/dribbble3.png")
		| dribbble3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/droplet.png")
		| droplet
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/earth.png")
		| earth
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/eject.png")
		| eject
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/embed.png")
		| embed
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/enter.png")
		| enter
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/envelop.png")
		| envelop
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/equalizer.png")
		| equalizer
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/evil.png")
		| evil
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/evil2.png")
		| evil2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/exit.png")
		| exit
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/expand.png")
		| expand
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/expand2.png")
		| expand2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/eye-blocked.png")
		| eye-blocked
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/eye.png")
		| eye
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/eye2.png")
		| eye2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/facebook.png")
		| facebook
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/facebook2.png")
		| facebook2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/attachment.png")
		| attachment
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/facebook3.png")
		| facebook3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/feed.png")
		| feed
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/feed2.png")
		| feed2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/feed3.png")
		| feed3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/feed4.png")
		| feed4
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file-css.png")
		| file-css
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file-excel.png")
		| file-excel
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file-openoffice.png")
		| file-openoffice
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file-pdf.png")
		| file-pdf
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file-powerpoint.png")
		| file-powerpoint
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file-word.png")
		| file-word
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file-xml.png")
		| file-xml
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file-zip.png")
		| file-zip
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file.png")
		| file
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file2.png")
		| file2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file3.png")
		| file3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/file4.png")
		| file4
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/film.png")
		| film
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/filter.png")
		| filter
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/filter2.png")
		| filter2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/finder.png")
		| finder
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/fire.png")
		| fire
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/firefox.png")
		| firefox
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/first.png")
		| first
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/flag.png")
		| flag
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/flattr.png")
		| flattr
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/flickr.png")
		| flickr
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/flickr2.png")
		| flickr2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/flickr3.png")
		| flickr3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/flickr4.png")
		| flickr4
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/flip.png")
		| flip
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/flip2.png")
		| flip2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/folder-open.png")
		| folder-open
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/folder.png")
		| folder
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/font.png")
		| font
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/food.png")
		| food
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/forrst.png")
		| forrst
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/forrst2.png")
		| forrst2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/forward.png")
		| forward
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/forward2.png")
		| forward2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/forward3.png")
		| forward3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/foursquare.png")
		| foursquare
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/foursquare2.png")
		| foursquare2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/gift.png")
		| gift
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/github.png")
		| github
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/github2.png")
		| github2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/github3.png")
		| github3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/github4.png")
		| github4
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/github5.png")
		| github5
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/glass.png")
		| glass
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/globe.png")
		| globe
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/google-drive.png")
		| google-drive
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/google-plus.png")
		| google-plus
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/google-plus2.png")
		| google-plus2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/google-plus3.png")
		| google-plus3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/google-plus4.png")
		| google-plus4
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/google.png")
		| google
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/grin.png")
		| grin
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/grin2.png")
		| grin2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/hammer.png")
		| hammer
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/happy.png")
		| happy
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/hammer2.png")
		| hammer2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/happy2.png")
		| happy2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/headphones.png")
		| headphones
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/heart-broken.png")
		| heart-broken
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/heart.png")
		| heart
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/heart2.png")
		| heart2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/history.png")
		| history
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/home.png")
		| home
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/home3.png")
		| home3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/html5.png")
		| html5
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/html52.png")
		| html52
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/icomoon.png")
		| icomoon
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/ie.png")
		| ie
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/image.png")
		| image
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/image2.png")
		| image2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/images.png")
		| images
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/indent-decrease.png")
		| indent-decrease
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/indent-increase.png")
		| indent-increase
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/info.png")
		| info
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/info2.png")
		| info2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/instagram.png")
		| instagram
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/italic.png")
		| italic
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/joomla.png")
		| joomla
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/key.png")
		| key
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/key2.png")
		| key2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/keyboard.png")
		| keyboard
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/lab.png")
		| lab
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/lanyrd.png")
		| lanyrd
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/laptop.png")
		| laptop
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/last.png")
		| last
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/lastfm.png")
		| lastfm
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/lastfm2.png")
		| lastfm2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/leaf.png")
		| leaf
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/home2.png")
		| home2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/insert-template.png")
		| insert-template
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/libreoffice.png")
		| libreoffice
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/left-to-right.png")
		| left-to-right
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/linkedin.png")
		| linkedin
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/list.png")
		| list
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/list2.png")
		| list2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/location.png")
		| location
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/location2.png")
		| location2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/lock.png")
		| lock
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/lock2.png")
		| lock2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/loop.png")
		| loop
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/loop2.png")
		| loop2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/loop3.png")
		| loop3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/magnet.png")
		| magnet
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/mail.png")
		| mail
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/mail2.png")
		| mail2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/mail3.png")
		| mail3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/mail4.png")
		| mail4
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/map.png")
		| map
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/map2.png")
		| map2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/menu.png")
		| menu
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/menu2.png")
		| menu2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/meter.png")
		| meter
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/meter2.png")
		| meter2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/minus.png")
		| minus
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/mobile.png")
		| mobile
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/mobile2.png")
		| mobile2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/mug.png")
		| mug
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/music.png")
		| music
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/neutral.png")
		| neutral
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/neutral2.png")
		| neutral2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/new-tab.png")
		| new-tab
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/newspaper.png")
		| newspaper
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/next.png")
		| next
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/notebook.png")
		| notebook
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/notification.png")
		| notification
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/numbered-list.png")
		| numbered-list
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/office.png")
		| office
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/omega.png")
		| omega
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/opera.png")
		| opera
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pacman.png")
		| pacman
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paint-format.png")
		| paint-format
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paragraph-center.png")
		| paragraph-center
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paragraph-center2.png")
		| paragraph-center2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paragraph-justify.png")
		| paragraph-justify
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paragraph-justify2.png")
		| paragraph-justify2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paragraph-left.png")
		| paragraph-left
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paragraph-left2.png")
		| paragraph-left2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paragraph-right.png")
		| paragraph-right
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paragraph-right2.png")
		| paragraph-right2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paste.png")
		| paste
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paste2.png")
		| paste2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paste3.png")
		| paste3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pause.png")
		| pause
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pause2.png")
		| pause2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pawn.png")
		| pawn
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paypal.png")
		| paypal
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paypal2.png")
		| paypal2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/paypal3.png")
		| paypal3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pen.png")
		| pen
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pencil.png")
		| pencil
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pencil2.png")
		| pencil2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/phone-hang-up.png")
		| phone-hang-up
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/phone.png")
		| phone
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/picassa.png")
		| picassa
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/picassa2.png")
		| picassa2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pie.png")
		| pie
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pilcrow.png")
		| pilcrow
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pinterest.png")
		| pinterest
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pinterest2.png")
		| pinterest2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/play.png")
		| play
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/play2.png")
		| play2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/play3.png")
		| play3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/plus.png")
		| plus
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/podcast.png")
		| podcast
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/point-down.png")
		| point-down
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/point-left.png")
		| point-left
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/point-right.png")
		| point-right
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/point-up.png")
		| point-up
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/power-cord.png")
		| power-cord
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/previous.png")
		| previous
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/print.png")
		| print
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/profile.png")
		| profile
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/pushpin.png")
		| pushpin
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/qrcode.png")
		| qrcode
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/question.png")
		| question
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/quill.png")
		| quill
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/quotes-left.png")
		| quotes-left
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/radio-checked.png")
		| radio-checked
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/library.png")
		| library
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/lightning.png")
		| lightning
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/reddit.png")
		| reddit
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/link.png")
		| link
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/redo2.png")
		| redo2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/radio-unchecked.png")
		| radio-unchecked
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/remove2.png")
		| remove2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/redo.png")
		| redo
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/right-to-left.png")
		| right-to-left
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/remove.png")
		| remove
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/rocket.png")
		| rocket
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/reply.png")
		| reply
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/sad2.png")
		| sad2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/road.png")
		| road
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/scissors.png")
		| scissors
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/sad.png")
		| sad
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/search.png")
		| search
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/safari.png")
		| safari
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/share.png")
		| share
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/screen.png")
		| screen
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/shocked.png")
		| shocked
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/settings.png")
		| settings
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/shuffle.png")
		| shuffle
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/shield.png")
		| shield
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/signup.png")
		| signup
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/shocked2.png")
		| shocked2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/smiley.png")
		| smiley
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/sigma.png")
		| sigma
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/soundcloud.png")
		| soundcloud
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/skype.png")
		| skype
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/spades.png")
		| spades
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/smiley2.png")
		| smiley2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/spell-check.png")
		| spell-check
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/spinner.png")
		| spinner
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/soundcloud2.png")
		| soundcloud2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/spinner3.png")
		| spinner3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/spam.png")
		| spam
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/spinner5.png")
		| spinner5
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/spinner2.png")
		| spinner2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/stack.png")
		| stack
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/spinner4.png")
		| spinner4
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/star.png")
		| star
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/spinner6.png")
		| spinner6
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/star3.png")
		| star3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/stackoverflow.png")
		| stackoverflow
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/steam.png")
		| steam
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/star2.png")
		| star2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/stop.png")
		| stop
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/stats.png")
		| stats
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/stopwatch.png")
		| stopwatch
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/steam2.png")
		| steam2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/strikethrough.png")
		| strikethrough
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/stumbleupon2.png")
		| stumbleupon2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/stop2.png")
		| stop2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/support.png")
		| support
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/storage.png")
		| storage
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tab.png")
		| tab
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/table.png")
		| table
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/stumbleupon.png")
		| stumbleupon
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tablet.png")
		| tablet
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/switch.png")
		| switch
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tags.png")
		| tags
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/table2.png")
		| table2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/text-height.png")
		| text-height
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tag.png")
		| tag
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/thumbs-up.png")
		| thumbs-up
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/target.png")
		| target
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/ticket.png")
		| ticket
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/text-width.png")
		| text-width
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tree.png")
		| tree
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/trophy.png")
		| trophy
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/truck.png")
		| truck
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tumblr.png")
		| tumblr
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tumblr2.png")
		| tumblr2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tux.png")
		| tux
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tv.png")
		| tv
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/twitter.png")
		| twitter
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/twitter2.png")
		| twitter2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/twitter3.png")
		| twitter3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/underline.png")
		| underline
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/undo.png")
		| undo
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/undo2.png")
		| undo2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/unlocked.png")
		| unlocked
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/upload.png")
		| upload
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/upload2.png")
		| upload2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/upload3.png")
		| upload3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/user.png")
		| user
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/user2.png")
		| user2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/user3.png")
		| user3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/user4.png")
		| user4
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/users.png")
		| users
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/users2.png")
		| users2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/vimeo.png")
		| vimeo
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/vimeo2.png")
		| vimeo2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/vimeo3.png")
		| vimeo3
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/volume-decrease.png")
		| volume-decrease
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/volume-high.png")
		| volume-high
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/volume-increase.png")
		| volume-increase
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/volume-low.png")
		| volume-low
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/volume-medium.png")
		| volume-medium
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/volume-mute.png")
		| volume-mute
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/volume-mute2.png")
		| volume-mute2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/wand.png")
		| wand
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/warning.png")
		| warning
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/windows.png")
		| windows
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/windows8.png")
		| windows8
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/wink.png")
		| wink
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/thumbs-up2.png")
		| thumbs-up2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/wink2.png")
		| wink2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tongue.png")
		| tongue
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/wondering2.png")
		| wondering2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/tongue2.png")
		| tongue2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/wordpress2.png")
		| wordpress2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/xing.png")
		| xing
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/wondering.png")
		| wondering
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/xing2.png")
		| xing2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/yahoo.png")
		| yahoo
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/yelp.png")
		| yelp
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/youtube2.png")
		| youtube2
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/wordpress.png")
		| wordpress
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/zoom-in.png")
		| zoom-in
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/wrench.png")
		| wrench
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/youtube.png")
		| youtube
	li
		img(src="/images/icons/icomoon-icons/Icons/PNG/16px/zoom-out.png")
		| zoom-out
