/* =Forms. Horizontal.
 -------------------------------------------------------------- */
form {
	background-color : white;
}

form legend {
	background-image        : linear-gradient(to bottom, #ffffff, #f2f2f2);
	border                  : 1px solid #dddddd;
	border-top-left-radius  : 4px;
	border-top-right-radius : 4px;
	font-size               : 14px !important;
	line-height             : 1.4 !important;
	margin                  : 0;
	padding                 : 0.6em 1.4em;
	width                   : auto;
}

form .row-fluid {
	background-color : white;
	border-left      : 1px solid #dddddd;
	border-right     : 1px solid #dddddd;
	border-bottom    : 1px dotted #dddddd !important;
	width            : auto;
}

form .row-fluid:hover {
	background-color : #f6f6f6;
}

form .row-fluid:last-child {
	border-bottom-style        : solid !important;
	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;
}

form .row-fluid .form-control-label {
	margin     : 0;
	padding    : 1.5em 1.4em;
	text-align : left;
}

form.form-horizontal .row-fluid .form-control-label label {
	font-weight : bold;
	color       : #545454;
}

form.form-horizontal .row-fluid .form-controls {
	border-left : 1px dotted #dddddd;
	padding     : 1.3em 1em;
	text-align  : left;
}

.cf-double-box {
	background-color : #8eb8be;
	border           : 1px solid #dddddd;
	border-radius    : 4px;
	padding          : 0.5em;
}

.cf-double-box fieldset + fieldset {
	margin-top : 0.5em;
}

form label .description, form .form-controls .description {
	font-style : normal;
	font-size  : 1em;
}

/* =Forms. Default: Vertical.
 -------------------------------------------------------------- */
form.form-vertical .row-fluid .form-control-label {
	padding : 1em 1.1em 0.3em;
}

form.form-vertical .row-fluid .form-controls {
	margin-left : 0;
	padding     : 0 1em;
}

form.form-vertical .row-fluid .form-controls .help-inline {
	margin-top     : 0.4em;
	vertical-align : top;
}

/* =Forms.
 -------------------------------------------------------------- */
form .form-actions {
	border-top       : 1px solid #dc9a00 !important;
	background-color : #f7f0b1;
	border-top       : 0 none;
	margin-top       : 0;
	padding          : 0 !important;
}

form .form-actions:hover {
	background-color : #f7ee9d;
}

/* =Forms. Icons.
 -------------------------------------------------------------- */
form .form-control-label label i {
	margin-right : 0.7em;
}

/* =Forms. Input styling.
 -------------------------------------------------------------- */
form .row-fluid.warning label,
form .row-fluid.warning .description {
	color : #c09853 !important;
}

form .row-fluid.warning input,
form .row-fluid.warning textarea,
form .row-fluid.warning select {
	border-color : #c09853;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form .row-fluid.warning input:focus,
form .row-fluid.warning textarea:focus,
form .row-fluid.warning select:focus {
	border-color : #a47e3c;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #dbc59e;
}

form .row-fluid.error label,
form .row-fluid.error .description {
	color : #b94a48 !important;
}

form .row-fluid.error input,
form .row-fluid.error textarea,
form .row-fluid.error select {
	border-color : #b94a48;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form .row-fluid.error input:focus,
form .row-fluid.error textarea:focus,
form .row-fluid.error select:focus {
	border-color : #953b39;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #d59392;
}

form .row-fluid.info label,
form .row-fluid.info .description {
	color : #3a87ad !important;
}

form .row-fluid.info input,
form .row-fluid.info textarea,
form .row-fluid.info select {
	border-color : #3a87ad;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form .row-fluid.info input:focus,
form .row-fluid.info textarea:focus,
form .row-fluid.info select:focus {
	border-color : #2d6987;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ab5d3;
}

form .row-fluid.success label,
form .row-fluid.success .description {
	color : #468847 !important;
}

form .row-fluid.success input,
form .row-fluid.success textarea,
form .row-fluid.success select {
	border-color : #468847;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form .row-fluid.success input:focus,
form .row-fluid.success textarea:focus,
form .row-fluid.success select:focus {
	border-color : #356635;
	box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7aba7b;
}

form .radio, form .checkbox {
	padding-left : 0;
}

form  input[type="radio"], form input[type="checkbox"] {
	margin-left  : 0 !important;
	margin-right : 0.5em;
	margin-top   : 0.23em;
}

/*TODO: fix the on hover background position issue with uniform radios */
/* =Forms. Textarea. Autosize
 -------------------------------------------------------------- */
.autosize {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}