/* =Icons.
 -------------------------------------------------------------- */
.icon-custom-positive {
	background      : url("../../images/icons/check.png") transparent 0 0 no-repeat;
	background-size : 100% auto;
	display         : inline-block;
	height          : 14px;
	line-height     : 14px;
	vertical-align  : text-top;
	width           : 14px;
}

.icon-custom-negative {
	background      : url("../../images/icons/cross.png") transparent 0 0 no-repeat;
	background-size : 100% auto;
	display         : inline-block;
	height          : 13px;
	line-height     : 14px;
	vertical-align  : text-top;
	width           : 13px;
}

/* =Icons.
 -------------------------------------------------------------- */
.icon-chevron-right {
	margin-left : 0.4em;
	margin-top  : 2px !important;
	opacity     : 0.25;
}