/* =Icons.
 -------------------------------------------------------------- */
.icon-custom-positive {
	background      : url("../../images/icons/check.png") transparent 0 0 no-repeat;
	background-size : 100% auto;
	display         : inline-block;
	height          : 14px;
	line-height     : 14px;
	vertical-align  : text-top;
	width           : 14px;
}

.icon-custom-negative {
	background      : url("../../images/icons/cross.png") transparent 0 0 no-repeat;
	background-size : 100% auto;
	display         : inline-block;
	height          : 13px;
	line-height     : 14px;
	vertical-align  : text-top;
	width           : 13px;
}

/* =Icons.
 -------------------------------------------------------------- */
.icon-chevron-right {
	margin-left : 0.4em;
	margin-top  : 2px !important;
	opacity     : 0.25;
}

/* =FontAwesome Icons.
 -------------------------------------------------------------- */
.the-icons {
	list-style-type : none;
	margin          : 0;
}

.the-icons li {
	border-radius   : 6px !important;
	cursor          : pointer;
	height          : 32px;
	list-style-type : none;
	line-height     : 32px;
	padding-left    : 12px;
}

.the-icons li:hover {
	background-color : #fbf4f4;
}

.the-icons li i {
	margin-right : 1em;
	font-size    : 14px;
	width        : 32px;
}

.the-icons li:hover i:before {
	font-size      : 28px;
	vertical-align : -5px;
}