/* =Pills.
 -------------------------------------------------------------- */
.cf-pills .box-header {
	padding-top    : 0.3em;
	padding-bottom : 0.3em;
}

.cf-pills .box-header > ul {
	margin-bottom : 0;
}

/* =Pills. Icons.
 -------------------------------------------------------------- */
.cf-pills ul > li i {
	margin-right : 0.6em;
	opacity      : 0.5;
}

.cf-pills ul > li.active i, .cf-pills ul > li a:hover i {
	opacity : 1;
}