/* =Typography.
 -------------------------------------------------------------- */
/* =Headings.
 -------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight    : normal;
	line-height    : 1.2;
	margin-top     : 1em;
	margin-bottom  : 0.8em;
	padding-bottom : 0.3em;
}

h1 {
	font-size : 2em;
}

h2 {
	font-size : 1.4em;
}

h3 {
	font-size : 1.3em;
}

h4 {
	font-size : 1.15em;
}

.box-content > h1,
.box-content > h2,
.box-content > h3,
.box-content > h4,
.box-content > h5,
.box-content > h6 {
	margin-top : 0;
}

/* =Text blocks.
 -------------------------------------------------------------- */
p:last-of-type {
	margin-bottom : 0;
}

/* =Blockquotes.
 -------------------------------------------------------------- */
blockquote:last-of-type {
	margin-bottom : 0 !important;
}

/* =Lists.
 -------------------------------------------------------------- */
.list-style-upper-alpha li {
	list-style-type : upper-alpha;
}

.list-style-roman li {
	list-style-type : upper-roman;
}

.list-style-icons {
	margin-left : 0;
}

.list-style-icons li {
	list-style-type : none;
}

.list-style-icons li i {
	margin-right : 0.8em;
	margin-top   : 0.2em;
}

.list-style-check {
	margin-left : 0;
}

.list-style-check li {
	list-style-type : none;
}

.list-style-check li i {
	margin-right : 0.8em;
	margin-top   : 0.2em;
}

/* =Links.
 -------------------------------------------------------------- */

/* =Description.
 -------------------------------------------------------------- */
.description {
	color       : gray;
	font-style  : italic;
	font-size   : 0.8em;
	font-style  : italic !important;
	font-weight : normal;
}

code {
	font-weight : normal;
}