/* =Widgets.
 -------------------------------------------------------------- */
.widget-content {
	padding : 0.5em;
}

.widget .pull-left {
	margin-right : 0.8em;
}

/* =Widgets. Logged in user information.
 -------------------------------------------------------------- */
.widget.logged-user-info .widget-content {
	background-color : #f5f5f5;
	border           : 1px solid #aaaaaa;
	border-radius    : 4px 4px 4px 4px;
	box-shadow       : 0 0 5px #757575 inset;
	margin-bottom    : 1em;
}

.widget.logged-user-info ul li {
	line-height     : 1.3;
	list-style-type : none;
}

.widget.logged-user-info img {
	background-color : white;
	border           : 1px solid gray;
	border-radius    : 4px;
	box-shadow       : 0 1px 2px 0 #b5b5b5;
	padding          : 0.2em;
	height           : 45px;
	width            : 45px;
}

/* =Boxes.
 -------------------------------------------------------------- */
.box {
	border-radius : 4px;
	box-shadow    : 0 1px 8px 0 #b5b5b5;
	margin-bottom : 2em;
}

.box .box-header {
	background-image        : linear-gradient(to bottom, #ffffff, #e7ebef);
	border                  : 1px solid #aaaaaa;
	border-top-left-radius  : 4px;
	border-top-right-radius : 4px;
}

.box .box-header h3 {
	font-size   : 14px !important;
	font-style  : normal;
	font-weight : normal;
	margin      : 0;
	padding     : 0.6em;
}

.box.box-folded .box-header {
	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;
}

.box .box-header .actions {
	border-left : 1px solid #bbbbbb;
	float       : right;
	padding     : 0.5em 0.9em 0.5em 0.8em;
}

.box .box-header .actions i {
	opacity : 0.6;
}

.box .box-header .actions i + i,
.box .box-header .actions div + i {
	margin-left : 1em;
}

.box .box-header .actions i:hover {
	cursor     : pointer;
	opacity    : 1;
	transition : all 0.1s ease-in-out 0s;
}

.box .box-content {
	background-color           : white;
	border                     : 1px solid #aaaaaa;
	border-top                 : 0;
	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;
	padding                    : 0.6em;
}

.box .box-content .row-fluid:last-child .box {
	margin-bottom : 0;
}