extends ../../layouts/layout

block sidebar
	include ../layouts/sidebar

block content
	.content-header
		.content-header-title
			h2 Breadcrumbs Examples
			span.description A single example shown as it might be displayed across multiple pages.

	h2 Basic Usage
	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Basic
			.box-content
				p You don't have to do much to get an attractive plot. Create a placeholder, make sure it has dimensions (so Flot knows at what size to draw the plot), then call the plot function with your data.

				p The axes are automatically scaled.
				br
				.chart-placeholder#chart-basic(style="height:300px")

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Series Types
			.box-content
				p Flot supports lines, points, filled areas, bars and any combinations of these, in the same plot and even on the same data series.
				br
				.chart-placeholder#chart-series(style="height:300px")

	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Basic Options
			.box-content
				p There are plenty of options you can set to control the precise looks of your plot. You can control the ticks on the axes, the legend, the graph type, etc.

				p Flot goes to great lengths to provide sensible defaults so that you don't have to customize much for a good-looking result.
				br
				.chart-placeholder#chart-options(style="height:300px")

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Annotations
			.box-content
				p Flot has support for simple background decorations such as lines and rectangles. They can be useful for marking up certain areas. You can easily add any HTML you need with standard DOM manipulation, e.g. for labels. For drawing custom shapes there is also direct access to the canvas.
				br
				.chart-placeholder#chart-annotations(style="height:300px")

	.row-fluid
		.span12.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Real time data
			.box-content
				p You can update a chart periodically to get a real-time effect by using a timer to insert the new data in the plot and redraw it.
				br
				.chart-placeholder#chart-real-time(style="height:300px")

	h2 Interactivity
	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Toggling Series
			.box-content
				p Since all data is available client-side, it's pretty easy to make the plot interactive. Try turning countries on and off with the checkboxes next to the plot.

				p#choices
				.chart-placeholder#chart-toggling(style="height:300px")

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Navigation
			.box-content
				p With the navigate plugin it is easy to add panning and zooming. Drag to pan, double click to zoom (or use the mouse scrollwheel).

				p The plugin fires events (useful for synchronizing several plots) and adds a couple of public methods so you can easily build a little user interface around it, like the little buttons at the top right in the plot.
				br
				.chart-placeholder#chart-navigation(style="height:300px")

	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Selection and zooming
			.box-content
				p Selection support makes it easy to construct flexible zooming schemes. With a few lines of code, the small overview plot to the right has been connected to the large plot. Try selecting a rectangle on either of them.
				br
				.chart-placeholder#chart-zooming(style="height:300px;float:left; width:400px;")
				#overview.demo-placeholder(style="float:right;width:160px; height:125px;")
				.clearfix

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Interactivity
			.box-content
				p One of the goals of Flot is to support user interactions. Try pointing and clicking on the points.
				br
				.chart-placeholder#chart-interactivity(style="height:300px")

	h2 Additional Features
	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Symbols
			.box-content
				p Points can be marked in several ways, with circles being the built-in default. For other point types, you can define a callback function to draw the symbol. Some common symbols are available in the symbol plugin.
				br
				.chart-placeholder#chart-symbols(style="height:300px")

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Multiple axes
			.box-content
				p As illustrated, you can put in multiple axes if you need to. For each data series, simply specify the axis number. In the options, you can then configure where you want the extra axes to appear.
				br
				.chart-placeholder#chart-multiple(style="height:300px")

	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Thresholds
			.box-content
				p With the threshold plugin, you can apply a specific color to the part of a data series below a threshold. This is can be useful for highlighting negative values, e.g. when displaying net results or what's in stock.
				br
				.chart-placeholder#chart-threshold(style="height:300px")

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Stacking
			.box-content
				p With the stack plugin, you can have Flot stack the series. This is useful if you wish to display both a total and the constituents it is made of. The only requirement is that you provide the input sorted on x.
				br

				.align-center
					.stackControls.btn-group
						button.btn With stacking
						button.btn Without stacking

					.graphControls.btn-group
						button.btn Bars
						button.btn Lines
						button.btn Lines with steps

				br
				.chart-placeholder#chart-stacking(style="height:300px")

	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Percentiles
			.box-content
				p For each point of a filled curve, you can specify an arbitrary bottom. As this example illustrates, this can be useful for plotting percentiles. If you have the data sets available without appropriate fill bottoms, you can use the fillbetween plugin to compute the data point bottoms automatically.
				br
				.chart-placeholder#chart-percentile(style="height:300px")

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Tracking
			.box-content
				p You can add crosshairs that'll track the mouse position, either on both axes or as here on only one.

				p If you combine it with listening on hover events, you can use it to track the intersection on the curves by interpolating the data points (look at the legend).
				br
				.chart-placeholder#chart-tracking(style="height:300px")

	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Image Plots
			.box-content
				p With the image plugin, you can plot static images against a set of axes. This is for useful for adding ticks to complex prerendered visualizations. Instead of inputting data points, you specify the images and where their two opposite corners are supposed to be in plot space.

				p Images represent a little further complication because you need to make sure they are loaded before you can use them (Flot skips incomplete images). The plugin comes with a couple of helpers for doing that.
				br
				.chart-placeholder#chart-image(style="height:300px")

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Error Bars
			.box-content
				p With the errorbars plugin you can plot error bars to show standard deviation and other useful statistical properties.
				br
				.chart-placeholder#chart-error(style="height:300px")

	.row-fluid
		.span8.box.offset2
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Pie Charts
			.box-content
				h3#pie-title.align-center Default pie chart

				.align-center
					.pie-menu.btn-group
						button#example-1.btn Default Options
						button#example-2.btn Without Legend
						button#example-3.btn Label Formatter
						button#example-4.btn Label Radius
						button#example-5.btn Label Styles #1
						button#example-6.btn Label Styles #2

					br
					br
					.pie-menu.btn-group
						button#example-7.btn Hidden Labels
						button#example-8.btn Combined Slice
						button#example-9.btn Rectangular Pie
						button#example-10.btn Tilted Pie
						button#example-11.btn Donut Hole
						button#example-12.btn Interactivity

				br
				br
				.chart-placeholder#chart-pie(style="height:300px")
				br
				p#pie-description.align-center The default pie chart with no options set.


block scripts
	// [if lte IE 8]><script src="/js/vendor/jquery-flot/excanvas.min.js"></script><![endif]
	script(src="/js/vendor/jquery-flot/jquery.flot.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.symbol.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.threshold.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.fillbetween.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.errorbars.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.navigate.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.image.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.pie.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.crosshair.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.stack.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.time.js")
	script(src="/js/vendor/jquery-flot/jquery.flot.selection.js")
