extends ../../layouts/layout

block sidebar
	include ../layouts/sidebar

block content
	.content-header
		.content-header-title
			h2 Breadcrumbs Examples
			span.description A single example shown as it might be displayed across multiple pages.

	.row-fluid
		.span12.box.cf-tabs.cf-tabs-c
			.box-header
				ul.nav.nav-tabs
					li.active
						a(href='#box-tabs-style-a-0',data-toggle='tab') Font Awesome
					li
						a(href='#box-tabs-style-a-1',data-toggle='tab') Icomoon
					li
						a(href='#box-tabs-style-a-2',data-toggle='tab') Fugue
					li
						a(href='#box-tabs-style-a-3',data-toggle='tab') FamFam

			.box-content
				.tab-content
					.tab-pane.active#box-tabs-style-a-0
						h3.border-bottom-dotted Web Application Icons
						.row-fluid
							include icons/fontawesome

					.tab-pane#box-tabs-style-a-1
						.row-fluid
							.span12
								include icons/icomoon

					.tab-pane#box-tabs-style-a-2
						.row-fluid
							.span12
								include icons/fugue

					.tab-pane#box-tabs-style-a-3
						.row-fluid
							.span12
								include icons/famfamfam


