//.widget.logged-user-info
	.widget-content
		.pull-left
			img(src="/images/icons/person.svg")

		ul
			li John Doe
			li
				small
					em as Administrator
			li
				small
					em Last access: 23 Jun 14:30

		.btn-group
			button.btn.btn-small.btn-info Messages
			button.btn.btn-small.btn-info Profile
			button.btn.btn-small.btn-danger Logout

ul.nav.nav-tabs.nav-stacked
	li(class=(page == 'basic/index' ?'active':''))
		a.border-radius-none(href=(page == 'basic/index' ?'#':'/basic'))
			i.icon-dashboard(class=(page == 'basic/index' ?'icon-white':''))
			| Dashboard

	li(class=(page == 'basic/typography' ?'active':''))
		a.border-radius-none(href="/basic/typography")
			i.icon-text-width(class=(page == 'basic/typography' ?'icon-white':''))
			| Typography

	li
		div.accordion-group.border-radius-none.margin-bottom-none
			div.accordion-heading
				a.accordion-toggle(data-toggle="collapse",href="#messaging")
					i.icon-comment
					| Messaging
					i.accordion-level.icon-chevron-right.pull-right

			#messaging.accordion-body.collapse
				a.border-radius-none(href="/basic/messaging/labels-badges")
					.accordion-inner
						i.icon-tags
						| Labels & Badges

				a.border-radius-none(href="/basic/messaging/tooltips")
					.accordion-inner
						i.icon-comment
						| Tooltips

				a.border-radius-none(href="/basic/messaging/popovers")
					.accordion-inner
						i.icon-comment
						| Popovers

				a.border-radius-none(href="/basic/messaging/alerts")
					.accordion-inner
						i.icon-warning-sign
						| Alerts

				a.border-radius-none(href="/basic/messaging/growl")
					.accordion-inner
						i.icon-align-justify
						| Growl Notifications

	li(class=(page == 'basic/tables/simple' || page == 'basic/tables/data' ?'active':''))
		.accordion-group.border-radius-none.margin-bottom-none
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse",href="#tables")
					i.icon-table(class=(page == 'basic/tables/simple' || page == 'basic/tables/data' ?'icon-white':''))
					| Tables
					i.accordion-level.icon-chevron-right.pull-right(class=(page == 'basic/tables/simple' || page == 'basic/tables/data' ?'icon-white':''))

			#tables.accordion-body.collapse(class=(page == 'basic/tables/simple' || page == 'basic/tables/data' ?'in':''))
				a.border-radius-none(href="/basic/tables/simple",class=(page == 'basic/tables/simple' ?'active':''))
					.accordion-inner
						i.icon-th
						| Simple Tables

				a.border-radius-none(href="/basic/tables/data",class=(page == 'basic/tables/data' ?'active':''))
					.accordion-inner
						i.icon-th-large
						| DataTables

				a.border-radius-none(href="/basic/tables/media")
					.accordion-inner
						i.icon-th-list
						| Media Tables

	li(class=(page == 'basic/navigation/breadcrumbs' || page == 'basic/navigation/tabs'|| page == 'basic/navigation/pills'|| page == 'basic/navigation/collapsible'|| page == 'basic/navigation/pagination' ?'active':''))
		.accordion-group.border-radius-none.margin-bottom-none
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse",href="#navigation")
					i.icon-th(class=(page == 'basic/navigation/breadcrumbs' || page == 'basic/navigation/tabs' ?'icon-white':''))
					| Navigation
					i.accordion-level.icon-chevron-right.pull-right(class=(page == 'basic/navigation/breadcrumbs' || page == 'basic/navigation/tabs' ?'icon-white':''))

			#navigation.accordion-body.collapse(class=(page == 'basic/navigation/breadcrumbs' || page == 'basic/navigation/tabs' || page == 'basic/navigation/pills' || page == 'basic/navigation/collapsible' || page == 'basic/navigation/pagination'?'in':''))
				a.border-radius-none(href="/basic/navigation/breadcrumbs",class=(page == 'basic/navigation/breadcrumbs' ?'active':''))
					.accordion-inner
						i.icon-bookmark
						| Breadcrumbs

				a.border-radius-none(href="/basic/navigation/tabs",class=(page == 'basic/navigation/tabs' ?'active':''))
					.accordion-inner
						i.icon-th-list
						| Tabs

				a.border-radius-none(href="/basic/navigation/pills",class=(page == 'basic/navigation/pills' ?'active':''))
					.accordion-inner
						i.icon-th-list
						| Pills

				a.border-radius-none(href="/basic/navigation/collapsible",class=(page == 'basic/navigation/collapsible' ?'active':''))
					.accordion-inner
						i.icon-align-justify
						| Collapsibles

				a.border-radius-none(href="/basic/navigation/pagination",class=(page == 'basic/navigation/pagination' ?'active':''))
					.accordion-inner
						i.icon-th-list
						| Pagination

	li(class=(page == 'basic/grid/content' || page == 'basic/grid/form' ?'active':''))
		.accordion-group.border-radius-none.margin-bottom-none
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse",href="#grid")
					i.icon-th(class=(page == 'basic/grid/content' || page == 'basic/grid/form' ?'icon-white':''))
					| Grid
					i.accordion-level.icon-chevron-right.pull-right(class=(page == 'basic/grid/content' || page == 'basic/grid/form' ?'icon-white':''))

			#grid.accordion-body.collapse(class=(page == 'basic/grid/content' || page == 'basic/grid/form' ?'in':''))
				a.border-radius-none(href="/basic/grid/content",class=(page == 'basic/grid/content' ?'active':''))
					.accordion-inner
						i.icon-th-large
						| Content Grid

				a.border-radius-none(href="/basic/grid/form",class=(page == 'basic/grid/form' ?'active':''))
					.accordion-inner
						i.icon-th-list
						| Form Grid

				a.border-radius-none(href="/basic/grid/media")
					.accordion-inner
						i.icon-th-list
						| Media Grid

	li(class=(page == 'basic/charts/charts' ?'active':''))
		.accordion-group.border-radius-none.margin-bottom-none
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse",href="#charts")
					i.icon-bar-chart
					| Charts
					i.accordion-level.icon-chevron-right.pull-right

			#charts.accordion-body.collapse(class=(page == 'basic/charts/charts' ?'in':''))
				a.border-radius-none(href="/basic/charts/statistics")
					.accordion-inner
						i.icon-bar-chart
						| Statistics Elements

				a.border-radius-none(href="/basic/charts/charts",class=(page == 'basic/charts/charts' ?'active':''))
					.accordion-inner
						i.icon-bar-chart
						| Charts

	li(class=(page == 'basic/images/icons' ?'active':''))
		.accordion-group.border-radius-none.margin-bottom-none
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse",href="#images")
					i.icon-picture
					| Images
					i.accordion-level.icon-chevron-right.pull-right

			#images.accordion-body.collapse(class=(page == 'basic/images/icons' ?'in':''))
				a.border-radius-none(href="/basic/images/icons",class=(page == 'basic/images/icons' ?'active':''))
					.accordion-inner
						i.icon-th-large
						| Icons

				a.border-radius-none(href="/basic/images/thumbnails")
					.accordion-inner
						i.icon-stop
						| Thumbnails

				a.border-radius-none(href="/basic/images/gallery")
					.accordion-inner
						i.icon-th
						| Gallery

	li(class=(page == 'basic/widgets/progressbar' || page == 'basic/widgets/conversations' ?'active':''))
		.accordion-group.border-radius-none.margin-bottom-none
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse",href="#widgets")
					i.icon-cogs
					| Widgets
					i.accordion-level.icon-chevron-right.pull-right

			#widgets.accordion-body.collapse(class=(page == 'basic/widgets/progressbar' || page == 'basic/widgets/conversations' ?'in':''))
				a.border-radius-none(href="/basic/widgets/progressbar",class=(page == 'basic/widgets/progressbar' ?'active':''))
					.accordion-inner
						i.icon-tasks
						| Progress bars

				a.border-radius-none(href="/basic/widgets/conversations",class=(page == 'basic/widgets/conversations' ?'active':''))
					.accordion-inner
						i.icon-comments
						| Conversations