extends ../../layouts/layout

block sidebar
	include ../layouts/sidebar

block content
		.content-header
			.content-header-title
				h2 Page Title
				span.description Page description goes here.

		.row-fluid
			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Default style
				.box-content.padding-none
					table.table
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username

						tbody
							tr
								td 1
								td Mark
								td Otto
								td @mdo

							tr
								td 2
								td Jacob
								td Thornton
								td @fat

							tr
								td 3
								td(colspan="2") Larry the Bird
								td @twitter

			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Default style
				.box-content
					table.table
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username

						tbody
							tr
								td 1
								td Mark
								td Otto
								td @mdo

							tr
								td 2
								td Jacob
								td Thornton
								td @fat

							tr
								td 3
								td(colspan="2") Larry the Bird
								td @twitter

		.row-fluid
			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Stripped
				.box-content.padding-none
					table.table.table-striped
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username

						tbody
							tr
								td 1
								td Mark
								td Otto
								td @mdo

							tr
								td 2
								td Jacob
								td Thornton
								td @fat

							tr
								td 3
								td(colspan="2") Larry the Bird
								td @twitter

			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Stripped
				.box-content
					table.table.table-striped
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username

						tbody
							tr
								td 1
								td Mark
								td Otto
								td @mdo

							tr
								td 2
								td Jacob
								td Thornton
								td @fat

							tr
								td 3
								td(colspan="2") Larry the Bird
								td @twitter

		.row-fluid
			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Bordered
				.box-content.padding-none
					table.table.table-bordered
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username
							tbody
								tr
									td(rowspan='2') 1
									td Mark
									td Otto
									td @mdo
								tr
									td Mark
									td Otto
									td @TwBootstrap
								tr
									td 2
									td Jacob
									td Thornton
									td @fat
								tr
									td 3
									td(colspan='2') Larry the Bird
									td @twitter

			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Bordered
				.box-content
					table.table.table-bordered
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username
							tbody
								tr
									td(rowspan='2') 1
									td Mark
									td Otto
									td @mdo
								tr
									td Mark
									td Otto
									td @TwBootstrap
								tr
									td 2
									td Jacob
									td Thornton
									td @fat
								tr
									td 3
									td(colspan='2') Larry the Bird
									td @twitter


		.row-fluid
			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Hoverable
				.box-content.padding-none
					table.table.table-hover
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username
							tbody
								tr
									td 1
									td Mark
									td Otto
									td @mdo
								tr
									td 2
									td Jacob
									td Thornton
									td @fat
								tr
									td 3
									td(colspan='2') Larry the Bird
									td @twitter

			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Hoverable
				.box-content
					table.table.table-hover
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username
							tbody
								tr
									td 1
									td Mark
									td Otto
									td @mdo
								tr
									td 2
									td Jacob
									td Thornton
									td @fat
								tr
									td 3
									td(colspan='2') Larry the Bird
									td @twitter

		.row-fluid
			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Condensed
				.box-content.padding-none
					table.table.table-condensed
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username
							tbody
								tr
									td 1
									td Mark
									td Otto
									td @mdo
								tr
									td 2
									td Jacob
									td Thornton
									td @fat
								tr
									td 3
									td(colspan='2') Larry the Bird
									td @twitter

			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Condensed
				.box-content
					table.table.table-condensed
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username
							tbody
								tr
									td 1
									td Mark
									td Otto
									td @mdo
								tr
									td 2
									td Jacob
									td Thornton
									td @fat
								tr
									td 3
									td(colspan='2') Larry the Bird
									td @twitter

		.row-fluid
			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Row styling
				.box-content.padding-none
					table.table
						thead
							tr
								th #
								th Product
								th Payment Taken
								th Status
							tbody
								tr.success
									td 1
									td TB - Monthly
									td 01/04/2012
									td
										span.label.label-success Approved
								tr.error
									td 2
									td TB - Monthly
									td 02/04/2012
									td
										span.label.label-important Declined
								tr.warning
									td 3
									td TB - Monthly
									td 03/04/2012
									td
										span.label.label-info Pending
								tr.info
									td 4
									td TB - Monthly
									td 04/04/2012
									td
										span.label.label-warning Call in to confirm


			.span6.box
				.box-header
					.actions
						i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
						i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
					h3 Row styling
				.box-content
					table.table
						thead
							tr
								th #
								th Product
								th Payment Taken
								th Status
							tbody
								tr.success
									td 1
									td TB - Monthly
									td 01/04/2012
									td
										span.label.label-success Approved
								tr.error
									td 2
									td TB - Monthly
									td 02/04/2012
									td
										span.label.label-important Declined
								tr.warning
									td 3
									td TB - Monthly
									td 03/04/2012
									td
										span.label.label-info Pending
								tr.info
									td 4
									td TB - Monthly
									td 04/04/2012
									td
										span.label.label-warning Call in to confirm
