extends ../layouts/layout

block sidebar
	include ./layouts/sidebar

block content
		.content-header
			.content-header-title
				h2 Page Title
				span.description Page description goes here.

		.row-fluid
			.span6.box
				.box-header Box Header
				.box-content Box Content