extends ../../layouts/layout

block sidebar
	include ../layouts/sidebar

block content
	.content-header
		.content-header-title
			h2 Breadcrumbs Examples
			span.description A single example shown as it might be displayed across multiple pages.

	h2 Live grid example (with action bar)

	.row-fluid
		.span12.box
			.box-header
				h3 Box Header
			.box-content Box Content

	.row-fluid
		.span6.box
			.box-header
				h3 Box Header
			.box-content Box Content

		.span6.box
			.box-header
				h3 Box Header
			.box-content Box Content

	.row-fluid
		.span4.box
			.box-header
				h3 Box Header
			.box-content Box Content

		.span4.box
			.box-header
				h3 Box Header
			.box-content Box Content

		.span4.box
			.box-header
				h3 Box Header
			.box-content Box Content

	.row-fluid
		.span3.box
			.box-header
				h3 Box Header
			.box-content Box Content

		.span3.box
			.box-header
				h3 Box Header
			.box-content Box Content

		.span3.box
			.box-header
				h3 Box Header
			.box-content Box Content

		.span3.box
			.box-header
				h3 Box Header
			.box-content Box Content

	h2 Fluid Settings

	.row-fluid
		.span4
		.span3.offset2.box
			.box-header
				h3 Box Header
			.box-content 3 offset 2


	.row-fluid
		.span3.offset1.box
			.box-header
				h3 Box Header
			.box-content 3 offset 1

		.span3.offset4.box
			.box-header
				h3 Box Header
			.box-content 3 offset 2


	.row-fluid
		.span6.offset3.box
			.box-header
				h3 Box Header
			.box-content 6 offset 3

	h2 Nested Grid

	.row-fluid
		.span12.box
			.box-header
				h3 Nested Grid
			.box-content
				.row-fluid
					.span12.box
						.box-header
							h3 Box Header
						.box-content Box Content

				.row-fluid
					.span6.box
						.box-header
							h3 Box Header
						.box-content Box Content

					.span6.box
						.box-header
							h3 Box Header
						.box-content Box Content

				.row-fluid
					.span4.box
						.box-header
							h3 Box Header
						.box-content Box Content

					.span4.box
						.box-header
							h3 Box Header
						.box-content Box Content

					.span4.box
						.box-header
							h3 Box Header
						.box-content Box Content

				.row-fluid
					.span3.box
						.box-header
							h3 Box Header
						.box-content Box Content

					.span3.box
						.box-header
							h3 Box Header
						.box-content Box Content

					.span3.box
						.box-header
							h3 Box Header
						.box-content Box Content

					.span3.box
						.box-header
							h3 Box Header
						.box-content Box Content
