extends ../../layouts/layout

block styles
	link(rel="stylesheet",href="/js/vendor/google-code-prettify/prettify.css",media="screen")

block content
	.content-header
		.content-header-title
			h2 Breadcrumbs Examples
			span.description A single example shown as it might be displayed across multiple pages.

	.row-fluid
		.span12
			.bs-docs-example
				ul.breadcrumb
					li.active Home
				ul.breadcrumb
					li
						a(href='#') Home
						span.divider /
					li.active Library
				ul.breadcrumb(style='margin-bottom: 5px;')
					li
						a(href='#') Home
						span.divider /
					li
						a(href='#') Library
						span.divider /
					li.active Data

block scripts
	script(src="/js/vendor/google-code-prettify/prettify.js")