extends ../../layouts/layout

block sidebar
	include ../layouts/sidebar

block content
	.content-header
		.content-header-title
			h2 Pagination
			span.description A single example shown as it might be displayed across multiple pages.

	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Standard pagination
			.box-content
				.pagination.pagination-centered
					ul
						li
							a(href="#") Prev
						li
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") Next

				.pagination.pagination-centered
					ul
						li
							a(href="#") «
						li
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") »

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Disabled and active states
			.box-content

				.pagination.pagination-centered
					ul
						li.disabled
							a(href="#") «
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") »

	.row-fluid
		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Sizes
			.box-content

				.pagination.pagination-centered.pagination-large
					ul
						li.disabled
							a(href="#") «
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") »

				.pagination.pagination-centered
					ul
						li.disabled
							a(href="#") «
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") »

				.pagination.pagination-centered.pagination-small
					ul
						li.disabled
							a(href="#") «
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") »

				.pagination.pagination-centered.pagination-mini
					ul
						li.disabled
							a(href="#") «
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") »

		.span6.box
			.box-header
				.actions
					i.control-drop.icon-chevron-up.tip(title="Minimize / Maximize Box", data-toggle="tooltip")
					i.control-remove.icon-remove.tip(title="Remove Box", data-toggle="tooltip")
				h3 Alignment
			.box-content

				.pagination
					ul
						li.disabled
							a(href="#") «
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") »

				.pagination.pagination-centered
					ul
						li.disabled
							a(href="#") «
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") »

				.pagination.pagination-centered.pagination-right
					ul
						li.disabled
							a(href="#") «
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") »