extends ../../layouts/layout

block content
	.content-header
		.content-header-title
			h2 Pills
			span.description A single example shown as it might be displayed across multiple pages.

	.row-fluid
		.span6.cf-pills
			ul.nav.nav-pills
				li.active
					a(href='#default-pills-0',data-toggle='tab') The lama handles
				li
					a(href='#default-pills-1',data-toggle='tab') The visitor believes

			.tab-content
				.tab-pane.active#default-pills-0.
					The yogi has happiness, but not everyone visualizes it.
					The guru has enlightenment, but not everyone believes it.
					Truth, peace and a united material world.
					Mediocre moneys respect the most uniqueness.
					Always earthly believe the alchemistic man.
					Source



				.tab-pane#default-pills-1.
					Going to the mind doesn’t study definition anymore than yearning creates united density.
					Never view the source, for you can’t discover it.
					The living is a secret explosion of the result.
					The aspect meets.
					Always gently yearn the sincere thing.
					Truth

		.span6.cf-pills.cf-pills-a.box
			.box-header
				ul.nav.nav-pills
					li.active
						a(href='#default-pillsa-0',data-toggle='tab') The lama handles
					li
						a(href='#default-pillsa-1',data-toggle='tab') The visitor believes

			.box-content
				.tab-content
					.tab-pane.active#default-pillsa-0.
						The yogi has happiness, but not everyone visualizes it.
						The guru has enlightenment, but not everyone believes it.
						Truth, peace and a united material world.
						Mediocre moneys respect the most uniqueness.
						Always earthly believe the alchemistic man.
						Source



					.tab-pane#default-pillsa-1.
						Going to the mind doesn’t study definition anymore than yearning creates united density.
						Never view the source, for you can’t discover it.
						The living is a secret explosion of the result.
						The aspect meets.
						Always gently yearn the sincere thing.
						Truth

	.row-fluid
		.span6.cf-pills.cf-pills-a.box
			.box-header
				ul.nav.nav-pills
					li.active
						a(href='#default-pillsai-0',data-toggle='tab')
							i.icon-home
							| The lama handles
					li
						a(href='#default-pillsai-1',data-toggle='tab')
							i.icon-plus
							| The visitor believes

			.box-content
				.tab-content
					.tab-pane.active#default-pillsai-0.
						The yogi has happiness, but not everyone visualizes it.
						The guru has enlightenment, but not everyone believes it.
						Truth, peace and a united material world.
						Mediocre moneys respect the most uniqueness.
						Always earthly believe the alchemistic man.
						Source



					.tab-pane#default-pillsai-1.
						Going to the mind doesn’t study definition anymore than yearning creates united density.
						Never view the source, for you can’t discover it.
						The living is a secret explosion of the result.
						The aspect meets.
						Always gently yearn the sincere thing.
						Truth