extends ../../layouts/layout

block content
	.content-header.margin-bottom-none
		.content-header-title
			h2 Tabs
			span.description A single example shown as it might be displayed across multiple pages.

	.cf-tabs.cf-tabs-f.cf-tabs-fb
		ul.nav.nav-tabs.border-top-none
			li.active
				a(href='#box-tabs-style-fk-0',data-toggle='tab') Horizontal Tabs
			li
				a(href='#box-tabs-style-fk-1',data-toggle='tab') Vertical Tabs

		.tab-content
			.tab-pane.active#box-tabs-style-fk-0
				.row-fluid
					.span6.cf-tabs.cf-tabs-default
						ul.nav.nav-tabs
							li.active
								a(href='#default-tabs-0',data-toggle='tab') The lama handles
							li
								a(href='#default-tabs-1',data-toggle='tab') The visitor believes

						.tab-content
							.tab-pane.active#default-tabs-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source



							.tab-pane#default-tabs-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

					.span6.cf-tabs.cf-tabs-default.cf-tabs-default-b
						ul.nav.nav-tabs
							li.active
								a(href='#default-tabs-b-0',data-toggle='tab') The lama handles
							li
								a(href='#default-tabs-b-1',data-toggle='tab') The visitor believes

						.tab-content
							.tab-pane.active#default-tabs-b-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source



							.tab-pane#default-tabs-b-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

				.row-fluid
					.span6.box.cf-tabs.cf-tabs-a
						.box-header
							ul.nav.nav-tabs
								li.active
									a(href='#box-tabs-style-a-0',data-toggle='tab') The visitor emerges
								li
									a(href='#box-tabs-style-a-1',data-toggle='tab') The power feels

						.box-content
							.tab-content
								.tab-pane.active#box-tabs-style-a-0.
									The yogi has happiness, but not everyone visualizes it.
									The guru has enlightenment, but not everyone believes it.
									Truth, peace and a united material world.
									Mediocre moneys respect the most uniqueness.
									Always earthly believe the alchemistic man.
									Source

								.tab-pane#box-tabs-style-a-1.
									Going to the mind doesn’t study definition anymore than yearning creates united density.
									Never view the source, for you can’t discover it.
									The living is a secret explosion of the result.
									The aspect meets.
									Always gently yearn the sincere thing.
									Truth

					.span6.box.cf-tabs.cf-tabs-b
						.box-header
							ul.nav.nav-tabs
								li.active
									a(href='#box-tabs-style-b-0',data-toggle='tab') The visitor emerges
								li
									a(href='#box-tabs-style-b-1',data-toggle='tab') The power feels

						.box-content
							.tab-content
								.tab-pane.active#box-tabs-style-b-0.
									The yogi has happiness, but not everyone visualizes it.
									The guru has enlightenment, but not everyone believes it.
									Truth, peace and a united material world.
									Mediocre moneys respect the most uniqueness.
									Always earthly believe the alchemistic man.
									Source

								.tab-pane#box-tabs-style-b-1.
									Going to the mind doesn’t study definition anymore than yearning creates united density.
									Never view the source, for you can’t discover it.
									The living is a secret explosion of the result.
									The aspect meets.
									Always gently yearn the sincere thing.
									Truth

				.row-fluid
					.span6.box.cf-tabs.cf-tabs-c
						.box-header
							ul.nav.nav-tabs
								li.active
									a(href='#box-tabs-style-c-0',data-toggle='tab') The visitor emerges
								li
									a(href='#box-tabs-style-c-1',data-toggle='tab') The power feels

						.box-content
							.tab-content
								.tab-pane.active#box-tabs-style-c-0.
									The yogi has happiness, but not everyone visualizes it.
									The guru has enlightenment, but not everyone believes it.
									Truth, peace and a united material world.
									Mediocre moneys respect the most uniqueness.
									Always earthly believe the alchemistic man.
									Source

								.tab-pane#box-tabs-style-c-1.
									Going to the mind doesn’t study definition anymore than yearning creates united density.
									Never view the source, for you can’t discover it.
									The living is a secret explosion of the result.
									The aspect meets.
									Always gently yearn the sincere thing.
									Truth

					.span6.box.cf-tabs.cf-tabs-d
						.box-header
							ul.nav.nav-tabs
								li.active
									a(href='#box-tabs-style-d-0',data-toggle='tab') The visitor emerges
								li
									a(href='#box-tabs-style-d-1',data-toggle='tab') The power feels

						.box-content
							.tab-content
								.tab-pane.active#box-tabs-style-d-0.
									The yogi has happiness, but not everyone visualizes it.
									The guru has enlightenment, but not everyone believes it.
									Truth, peace and a united material world.
									Mediocre moneys respect the most uniqueness.
									Always earthly believe the alchemistic man.
									Source

								.tab-pane#box-tabs-style-d-1.
									Going to the mind doesn’t study definition anymore than yearning creates united density.
									Never view the source, for you can’t discover it.
									The living is a secret explosion of the result.
									The aspect meets.
									Always gently yearn the sincere thing.
									Truth

				.row-fluid
					.span6.cf-tabs.cf-tabs-f
						ul.nav.nav-tabs
							li.active
								a(href='#box-tabs-style-f-0',data-toggle='tab') The visitor emerges
							li
								a(href='#box-tabs-style-f-1',data-toggle='tab') The power feels

						.tab-content
							.tab-pane.active#box-tabs-style-f-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source

							.tab-pane#box-tabs-style-f-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

					.span6.cf-tabs.cf-tabs-f.cf-tabs-f-n-arrow
						ul.nav.nav-tabs
							li.active
								a(href='#box-tabs-style-fa-0',data-toggle='tab') The visitor emerges
							li
								a(href='#box-tabs-style-fa-1',data-toggle='tab') The power feels

						.tab-content
							.tab-pane.active#box-tabs-style-fa-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source

							.tab-pane#box-tabs-style-fa-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

				.row-fluid
					.span6.cf-tabs.cf-tabs-f.cf-tabs-fb
						ul.nav.nav-tabs
							li.active
								a(href='#box-tabs-style-fb-0',data-toggle='tab') The visitor emerges
							li
								a(href='#box-tabs-style-fb-1',data-toggle='tab') The power feels

						.tab-content
							.tab-pane.active#box-tabs-style-fb-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source

							.tab-pane#box-tabs-style-fb-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

					.span6.cf-tabs.cf-tabs-f.cf-tabs-fb.cf-tabs-fb-libg
						ul.nav.nav-tabs
							li.active
								a(href='#box-tabs-style-fc-0',data-toggle='tab') The visitor emerges
							li
								a(href='#box-tabs-style-fc-1',data-toggle='tab') The power feels

						.tab-content
							.tab-pane.active#box-tabs-style-fc-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source

							.tab-pane#box-tabs-style-fc-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

			.tab-pane#box-tabs-style-fk-1
				.row-fluid
					.span6.cf-tabs.cf-tabs-default.tabs-left
						ul.nav.nav-tabs
							li.active
								a(href='#default-tabsv-0',data-toggle='tab') The lama handles
							li
								a(href='#default-tabsv-1',data-toggle='tab') The visitor believes

						.tab-content
							.tab-pane.active#default-tabsv-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source



							.tab-pane#default-tabsv-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

					.span6.cf-tabs.tabs-left.tabs-left-b
						ul.nav.nav-tabs
							li.active
								a(href='#default-tabsvb-0',data-toggle='tab') The lama handles
							li
								a(href='#default-tabsvb-1',data-toggle='tab') The visitor believes

						.tab-content
							.tab-pane.active#default-tabsvb-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source



							.tab-pane#default-tabsvb-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

				.row-fluid
					.span6.cf-tabs.cf-tabs-default.tabs-left
						ul.nav.nav-tabs
							li.active
								a(href='#default-tabsvd-0',data-toggle='tab')
									i.icon-home
									| The lama handles
							li
								a(href='#default-tabsvd-1',data-toggle='tab')
									i.icon-plus
									| The visitor believes

						.tab-content
							.tab-pane.active#default-tabsvd-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source



							.tab-pane#default-tabsvd-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

					.span6.cf-tabs.tabs-left.tabs-left-b
						ul.nav.nav-tabs
							li.active
								a(href='#default-tabsvbc-0',data-toggle='tab')
									i.icon-home
									| The lama handles
							li
								a(href='#default-tabsvbc-1',data-toggle='tab')
									i.icon-plus
									| The visitor believes

						.tab-content
							.tab-pane.active#default-tabsvbc-0.
								The yogi has happiness, but not everyone visualizes it.
								The guru has enlightenment, but not everyone believes it.
								Truth, peace and a united material world.
								Mediocre moneys respect the most uniqueness.
								Always earthly believe the alchemistic man.
								Source



							.tab-pane#default-tabsvbc-1.
								Going to the mind doesn’t study definition anymore than yearning creates united density.
								Never view the source, for you can’t discover it.
								The living is a secret explosion of the result.
								The aspect meets.
								Always gently yearn the sincere thing.
								Truth

